Repository DonerGuideStuttgart/DonerGuide: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook configuration for DonerGuide monorepo
# https://github.com/evilmartians/lefthook

min_version: 2.0.0

pre-commit:
  # Backend and Frontend run in parallel
  # Priority ensures format runs before lint
  parallel: true

  commands:
    # Backend: Prettier formatting
    backend-format:
      priority: 1
      root: "backend/functions/"
      glob: "**/*.{ts,js,json,md}"
      exclude: "node_modules/|dist/|build/|coverage/"
      run: npm exec -- prettier --write --cache {staged_files}
      stage_fixed: true
      fail_text: |
        Prettier formatting failed in backend!
        Run: cd backend/functions && npm run format
        To skip: LEFTHOOK=0 git commit -m "message"

    # Backend: ESLint linting
    backend-lint:
      priority: 2
      root: "backend/functions/"
      glob: "**/*.{ts,js}"
      exclude: "node_modules/|dist/|build/|coverage/"
      run: npm exec -- eslint --fix --cache {staged_files}
      stage_fixed: true
      fail_text: |
        ESLint found errors in backend!
        Run: cd backend/functions && npm run lint
        To skip: LEFTHOOK=0 git commit -m "message"

    # Frontend: Prettier formatting
    frontend-format:
      priority: 1
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx,json,md,css}"
      exclude: "node_modules/|.next/|out/|build/|coverage/"
      run: pnpm exec prettier --write --cache {staged_files}
      stage_fixed: true
      fail_text: |
        Prettier formatting failed in frontend!
        Run: cd frontend && pnpm run format
        To skip: LEFTHOOK=0 git commit -m "message"

    # Frontend: ESLint linting
    frontend-lint:
      priority: 2
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx}"
      exclude: "node_modules/|.next/|out/|build/|coverage/"
      run: pnpm exec eslint --fix --cache {staged_files}
      stage_fixed: true
      fail_text: |
        ESLint found errors in frontend!
        Run: cd frontend && pnpm run lint
        To skip: LEFTHOOK=0 git commit -m "message"

pre-push:
  parallel: true

  commands:
    backend-types:
      root: "backend/functions/"
      glob: "**/*.{ts,js}"
      run: npm run types:check
      fail_text: |
        TypeScript type errors found in backend!
        Run: cd backend/functions && npm run types:check
        To skip this push: git push --no-verify

    frontend-types:
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx}"
      run: pnpm run types:check
      fail_text: |
        TypeScript type errors found in frontend!
        Run: cd frontend && pnpm run types:check
        To skip this push: git push --no-verify

feat: propagate `InvocationContext` to services for consistent logging and context management.
  backend/functions/image-classifier/src/functions/imageClassifier.ts
  backend/functions/image-classifier/src/services/BlobService.ts
  backend/functions/image-classifier/src/services/VisionService.ts
  backend/functions/image-classifier/src/services/__tests__/VisionService.test.ts
  backend/functions/image-generator/src/functions/imageGenerator.ts
  backend/functions/image-generator/src/services/GenAIService.ts
  backend/functions/place-search/src/functions/placeSearch.ts
  backend/functions/place-search/src/services/__tests__/google-maps.service.test.ts
  backend/functions/place-search/src/services/__tests__/grid.service.test.ts
  backend/functions/place-search/src/services/google-maps.service.ts
  backend/functions/place-search/src/services/grid.service.ts
Due: backend-format, backend-lint

fix: Use `public_photos` property for image URL retrieval.
  backend/functions/shops/src/functions/mapper.ts
Due: backend-format, backend-lint

Remove the unused `gemini_api_key` variable.
  infrastructure/vars.tf
Due: none

feat: Configure public access settings for the generated images storage account and container.
  infrastructure/storage.tf
Due: none

feat: Add image-generator function to CI/CD workflow
  .github/workflows/backend.yml
Due: none

feat: Add image-generator to workspaces in package.json
  backend/functions/package.json
Due: backend-format

update package lock
  backend/functions/package-lock.json
Due: backend-format

feat: Add image-generator function app name retrieval to the backend workflow.
  .github/workflows/backend.yml
Due: none

chore: Update package dependencies for Azure SDKs, build tools, and TypeScript.
  backend/functions/image-generator/package.json
  backend/functions/package-lock.json
Due: backend-format

feat: Update image generator to use environment variable for Service Bus queue name, adjust Service Bus connection string setting, and add storage blob data contributor role assignment.
  backend/functions/image-generator/src/functions/imageGenerator.ts
  infrastructure/functions.tf
Due: backend-format, backend-lint

fix: Map image URLs from `item.public_photos` instead of `item.photos`.
  backend/functions/shops/src/functions/mapper.ts
Due: backend-format, backend-lint

fix: disallow mobile vertical scrolling
  frontend/src/app/(entdecken)/Explore.tsx
Due: frontend-format, frontend-lint

feat(place-search): refine grid initialization logic for improved accuracy in cell dimensions #104
  backend/functions/place-search/src/services/grid.service.ts
Due: backend-format, backend-lint

feat(benchmark): add benchmark script for grid strategy comparison with Google Places API
  backend/functions/place-search/.gitignore
  backend/functions/place-search/src/scripts/benchmark-grid.ts
Due: backend-format, backend-lint

feat(backend): disable eslint rule "@typescript-eslint/no-non-null-assertion" #104
  backend/functions/eslint.config.mjs
Due: none

feat(benchmark): add API delays #104
  backend/functions/place-search/src/scripts/benchmark-grid.ts
Due: backend-format, backend-lint

fix: add new stores
  frontend/src/components/Drawer.tsx
Due: frontend-format, frontend-lint

fix: add additional new stores
  frontend/src/app/(entdecken)/[slug]/page.tsx
Due: frontend-format, frontend-lint

adjusted filtering and relevance
  backend/functions/shops/src/functions/getShops.ts
  backend/functions/shops/src/functions/mapper.ts
Due: backend-format, backend-lint

fix getAllShops
  backend/functions/shops/src/functions/getShops.ts
Due: backend-format, backend-lint

fix: change initial loads to reduce page loading times
  frontend/src/app/(entdecken)/searchParams.ts
Due: frontend-format, frontend-lint

change: reset init limit
  frontend/src/app/(entdecken)/searchParams.ts
Due: frontend-format, frontend-lint

README
  README.md
  infrastructure/vars.tf
Due: none

fix getShops
  backend/functions/shops/src/functions/getShops.ts
Due: backend-format, backend-lint

feat(merge): enhance merging logic to optimize API requests and add results per page validationfeat(benchmark): add API delays #104
  backend/functions/place-search/.env.example
  backend/functions/place-search/src/config/gridConfig.ts
  backend/functions/place-search/src/scripts/benchmark-grid.ts
  backend/functions/place-search/src/services/__tests__/merge.service.test.ts
  backend/functions/place-search/src/services/merge.service.ts
  backend/functions/place-search/src/utils/gridConfigValidation.ts
Due: backend-format, backend-lint

fix(place-search): use context instead of console as logger
  backend/functions/place-search/src/services/grid.service.ts
Due: backend-format, backend-lint

Update backend/functions/place-search/src/services/grid.service.ts
  backend/functions/place-search/src/services/grid.service.ts
Due: backend-format, backend-lint

refactor(grid): remove gridOptimize function and related dependencies
  backend/functions/place-search/src/functions/gridOptimize.ts
Due: backend-format, backend-lint
