Repository DonerGuideStuttgart/DonerGuide: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook configuration for DonerGuide monorepo
# https://github.com/evilmartians/lefthook

min_version: 2.0.0

pre-commit:
  # Backend and Frontend run in parallel
  # Priority ensures format runs before lint
  parallel: true

  commands:
    # Backend: Prettier formatting
    backend-format:
      priority: 1
      root: "backend/functions/"
      glob: "**/*.{ts,js,json,md}"
      exclude: "node_modules/|dist/|build/|coverage/"
      run: npm exec -- prettier --write --cache {staged_files}
      stage_fixed: true
      fail_text: |
        Prettier formatting failed in backend!
        Run: cd backend/functions && npm run format
        To skip: LEFTHOOK=0 git commit -m "message"

    # Backend: ESLint linting
    backend-lint:
      priority: 2
      root: "backend/functions/"
      glob: "**/*.{ts,js}"
      exclude: "node_modules/|dist/|build/|coverage/"
      run: npm exec -- eslint --fix --cache {staged_files}
      stage_fixed: true
      fail_text: |
        ESLint found errors in backend!
        Run: cd backend/functions && npm run lint
        To skip: LEFTHOOK=0 git commit -m "message"

    # Frontend: Prettier formatting
    frontend-format:
      priority: 1
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx,json,md,css}"
      exclude: "node_modules/|.next/|out/|build/|coverage/"
      run: pnpm exec prettier --write --cache {staged_files}
      stage_fixed: true
      fail_text: |
        Prettier formatting failed in frontend!
        Run: cd frontend && pnpm run format
        To skip: LEFTHOOK=0 git commit -m "message"

    # Frontend: ESLint linting
    frontend-lint:
      priority: 2
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx}"
      exclude: "node_modules/|.next/|out/|build/|coverage/"
      run: pnpm exec eslint --fix --cache {staged_files}
      stage_fixed: true
      fail_text: |
        ESLint found errors in frontend!
        Run: cd frontend && pnpm run lint
        To skip: LEFTHOOK=0 git commit -m "message"

pre-push:
  parallel: true

  commands:
    backend-types:
      root: "backend/functions/"
      glob: "**/*.{ts,js}"
      run: npm run types:check
      fail_text: |
        TypeScript type errors found in backend!
        Run: cd backend/functions && npm run types:check
        To skip this push: git push --no-verify

    frontend-types:
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx}"
      run: pnpm run types:check
      fail_text: |
        TypeScript type errors found in frontend!
        Run: cd frontend && pnpm run types:check
        To skip this push: git push --no-verify

fix: Add explicit dependency for API hostname binding on DNS verification record.
  infrastructure/functions.tf
Due: none

feat: Make the place search cron expression configurable via a new variable.
  infrastructure/functions.tf
  infrastructure/vars.tf
Due: none

feat: Add Cosmos DB SQL role assignment for the function app and update related application settings.
  infrastructure/functions.tf
Due: none

feat: Configure HTTP route prefix to an empty string in host.json.
  backend/functions/shops/host.json
Due: backend-format

feat: Add a timer-triggered pre-warm function to run every 15 minutes.
  backend/functions/shops/src/functions/ping_pong.ts
Due: backend-format, backend-lint

feat: Implement managed SSL certificate binding for the shops function and add lifecycle ignore_changes to various Azure resources.
  infrastructure/functions.tf
  infrastructure/web.tf
Due: none

feat: Use the actual API URL from Terraform output in the frontend build workflow instead of the mock URL.
  .github/workflows/frontend.yaml
  infrastructure/outputs.tf
Due: none

feat: Add wildcard allowed headers to API mock CORS configuration.
  infrastructure/api_mock.tf
Due: none

fix(backend): remove duplicate container azurite #96
  backend/compose.yaml
Due: none

adjust mapping
  backend/functions/shops/src/functions/getShops.ts
  backend/functions/shops/src/functions/mapper.ts
Due: backend-format, backend-lint

delete log
  backend/functions/shops/src/functions/getShops.ts
Due: backend-format, backend-lint

update pagination to 20 stores per load more
  frontend/src/app/(entdecken)/searchParams.ts
Due: frontend-format, frontend-lint

fix: remove unnecessary @types/uuid #99
  backend/functions/package-lock.json
  backend/functions/place-search/package.json
Due: backend-format

fix: add fetchoptions to resolve frontend azure 404 error
  frontend/src/helpers/api.ts
Due: frontend-format, frontend-lint

fix: azure 404 page on browser
  frontend/src/helpers/api.ts
Due: frontend-format, frontend-lint

fix: azure 404 by prerendering all slugs
  frontend/src/helpers/api.ts
Due: frontend-format, frontend-lint

fix: azure 404 by prerendering all stores
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/helpers/api.ts
Due: frontend-format, frontend-lint

revert fix
  frontend/src/app/(entdecken)/[slug]/page.tsx
Due: frontend-format, frontend-lint

ci: Copy `staticwebapp.config.json` to the build output directory.
  .github/workflows/frontend.yaml
Due: none

use finetuned azurite config
  backend/localdev/emulators.yaml
Due: none

feat: Add new image generator Azure Function with associated infrastructure and local development configurations.
  backend/compose.yaml
  backend/functions/image-generator/.env.example
  backend/functions/image-generator/.funcignore
  backend/functions/image-generator/.gitignore
  backend/functions/image-generator/host.json
  backend/functions/image-generator/local.settings.json
  backend/functions/image-generator/package.json
  backend/functions/image-generator/src/functions/imageGenerator.ts
  backend/functions/image-generator/src/helper/prompts.ts
  backend/functions/image-generator/tsconfig.json
  backend/localdev/ServiceBus_Emulator.Config.json
  backend/localdev/emulators.yaml
  infrastructure/application_insights.tf
  infrastructure/functions.tf
  infrastructure/outputs.tf
  infrastructure/service_bus.tf
  infrastructure/storage.tf
  infrastructure/vars.tf
Due: backend-format, backend-lint

fix list sorting
  backend/functions/shops/src/functions/getShops.ts
Due: backend-format, backend-lint

feat: Enable the LLM analyzer to generate and output image prompts to a new Service Bus queue for subsequent image generation.
  backend/functions/image-generator/package-lock.json
  backend/functions/image-generator/package.json
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
  backend/functions/llm-analyzer/src/helper/analyzeImage.ts
  backend/functions/shared/doner_types/index.ts
  backend/functions/shared/doner_types/src/NewPromptMessage.ts
  backend/functions/shared/doner_types/src/StoreAnalysis.ts
  infrastructure/functions.tf
  infrastructure/service_bus.tf
Due: backend-format, backend-lint

fix: staticwebapp update to show slugs without redirect
  frontend/.env
  frontend/staticwebapp.config.json
Due: frontend-format

fix: 404 error by changing fetch api endpoint
  frontend/src/app/(entdecken)/[slug]/page.tsx
Due: frontend-format, frontend-lint

feat: Add `ai_generated` category and optional confidence to `Photo` type, and introduce `public_photos` to `Place` type.
  backend/functions/shared/doner_types/src/Photo.ts
  backend/functions/shared/doner_types/src/Place.ts
Due: backend-format, backend-lint

fix: try to prefetch all stores
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/staticwebapp.config.json
Due: frontend-format, frontend-lint

feat: implement image generation function using GenAI, Blob Storage, and Cosmos DB, triggered by Service Bus.
  backend/compose.yaml
  backend/functions/image-generator/.env.example
  backend/functions/image-generator/host.json
  backend/functions/image-generator/package-lock.json
  backend/functions/image-generator/package.json
  backend/functions/image-generator/src/functions/imageGenerator.ts
  backend/functions/image-generator/src/services/BlobService.ts
  backend/functions/image-generator/src/services/GenAIService.ts
  backend/functions/image-generator/tsconfig.json
  backend/functions/llm-analyzer/.env.example
  backend/functions/shared/doner_types/src/Place.ts
  backend/localdev/emulators.yaml
  infrastructure/functions.tf
Due: backend-format, backend-lint

feat(place-search): skip cells outside Stuttgart boundary #99
  backend/functions/eslint.config.mjs
  backend/functions/package-lock.json
  backend/functions/place-search/package.json
  backend/functions/place-search/src/data/stuttgart_borders.json
  backend/functions/place-search/src/services/__tests__/grid.service.test.ts
  backend/functions/place-search/src/services/grid.service.ts
  backend/functions/place-search/src/utils/__tests__/geometry.util.test.ts
  backend/functions/place-search/src/utils/geometry.util.ts
  backend/functions/tsconfig.base.json
Due: backend-format, backend-lint

feat: Update Google Generative AI SDK dependency and adapt service to new API.
  backend/functions/image-generator/package-lock.json
  backend/functions/image-generator/package.json
  backend/functions/image-generator/src/services/GenAIService.ts
Due: backend-format, backend-lint

Update backend/functions/place-search/package.json
  backend/functions/place-search/package.json
Due: backend-format

feat(place-search): enhance cell splitting logging #99
  backend/functions/place-search/src/services/grid.service.ts
Due: backend-format, backend-lint

feat(place-search): optimize grid initialization and cell splitting using geodetic calculations #99
  backend/functions/place-search/src/services/__tests__/grid.service.test.ts
  backend/functions/place-search/src/services/grid.service.ts
  backend/functions/place-search/src/utils/__tests__/geometry.util.test.ts
  backend/functions/place-search/src/utils/geometry.util.ts
Due: backend-format, backend-lint

integrate-prompt
  backend/functions/image-generator/src/functions/imageGenerator.ts
  backend/functions/image-generator/src/helper/prompts.ts
Due: backend-format, backend-lint

feat(place-search): add gridConfig #105
  backend/functions/place-search/src/config/gridConfig.ts
  backend/functions/place-search/src/functions/placeSearch.ts
  backend/functions/place-search/src/services/__tests__/grid.service.test.ts
  backend/functions/place-search/src/services/grid.service.ts
  backend/functions/place-search/src/utils/__tests__/gridConfigValidation.test.ts
  backend/functions/place-search/src/utils/gridConfigValidation.ts
Due: backend-format, backend-lint

anpassung-prompt
  backend/functions/image-generator/src/helper/prompts.ts
Due: backend-format, backend-lint

feat(place-search): add merge nearby cells with few entries #106
  backend/functions/place-search/src/config/gridConfig.ts
  backend/functions/place-search/src/functions/gridOptimize.ts
  backend/functions/place-search/src/services/__tests__/grid.service.test.ts
  backend/functions/place-search/src/services/__tests__/merge.service.test.ts
  backend/functions/place-search/src/services/merge.service.ts
  backend/functions/place-search/src/types/merge.ts
  backend/functions/place-search/src/utils/__tests__/gridConfigValidation.test.ts
  backend/functions/place-search/src/utils/__tests__/mergeGeometry.util.test.ts
  backend/functions/place-search/src/utils/gridConfigValidation.ts
  backend/functions/place-search/src/utils/mergeGeometry.util.ts
Due: backend-format, backend-lint

reaf(place-search): replace magic numbers with constants #104
  backend/functions/place-search/src/services/__tests__/grid.service.test.ts
  backend/functions/place-search/src/services/grid.service.ts
  backend/functions/place-search/src/utils/__tests__/geometry.util.test.ts
  backend/functions/place-search/src/utils/geometry.util.ts
Due: backend-format, backend-lint

docs(place-search): Update docs to describe the behavior for creating the initial grid with TARGET_CELL_SIZE_KM instead of 4x4 #104
  backend/functions/place-search/README.md
  backend/functions/place-search/specs/SPECIFICATION.md
  backend/functions/place-search/specs/tasks/TASK_2_GRID_SELECTION.md
Due: backend-format

feat: Implement Google GenAI image generation using enhanced prompts and refine the Photo type definition.
  .vscode/settings.json
  backend/functions/image-generator/src/functions/imageGenerator.ts
  backend/functions/image-generator/src/services/GenAIService.ts
  backend/functions/shared/doner_types/src/Photo.ts
  backend/functions/shared/doner_types/src/StoreAnalysis.ts
Due: backend-format, backend-lint
