Repository DonerGuideStuttgart/DonerGuide: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook configuration for DonerGuide monorepo
# https://github.com/evilmartians/lefthook

min_version: 2.0.0

pre-commit:
  # Backend and Frontend run in parallel
  # Priority ensures format runs before lint
  parallel: true

  commands:
    # Backend: Prettier formatting
    backend-format:
      priority: 1
      root: "backend/functions/"
      glob: "**/*.{ts,js,json,md}"
      exclude: "node_modules/|dist/|build/|coverage/"
      run: npm exec -- prettier --write --cache {staged_files}
      stage_fixed: true
      fail_text: |
        Prettier formatting failed in backend!
        Run: cd backend/functions && npm run format
        To skip: LEFTHOOK=0 git commit -m "message"

    # Backend: ESLint linting
    backend-lint:
      priority: 2
      root: "backend/functions/"
      glob: "**/*.{ts,js}"
      exclude: "node_modules/|dist/|build/|coverage/"
      run: npm exec -- eslint --fix --cache {staged_files}
      stage_fixed: true
      fail_text: |
        ESLint found errors in backend!
        Run: cd backend/functions && npm run lint
        To skip: LEFTHOOK=0 git commit -m "message"

    # Frontend: Prettier formatting
    frontend-format:
      priority: 1
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx,json,md,css}"
      exclude: "node_modules/|.next/|out/|build/|coverage/"
      run: pnpm exec prettier --write --cache {staged_files}
      stage_fixed: true
      fail_text: |
        Prettier formatting failed in frontend!
        Run: cd frontend && pnpm run format
        To skip: LEFTHOOK=0 git commit -m "message"

    # Frontend: ESLint linting
    frontend-lint:
      priority: 2
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx}"
      exclude: "node_modules/|.next/|out/|build/|coverage/"
      run: pnpm exec eslint --fix --cache {staged_files}
      stage_fixed: true
      fail_text: |
        ESLint found errors in frontend!
        Run: cd frontend && pnpm run lint
        To skip: LEFTHOOK=0 git commit -m "message"

pre-push:
  parallel: true

  commands:
    backend-types:
      root: "backend/functions/"
      glob: "**/*.{ts,js}"
      run: npm run types:check
      fail_text: |
        TypeScript type errors found in backend!
        Run: cd backend/functions && npm run types:check
        To skip this push: git push --no-verify

    frontend-types:
      root: "frontend/"
      glob: "**/*.{ts,tsx,js,jsx}"
      run: pnpm run types:check
      fail_text: |
        TypeScript type errors found in frontend!
        Run: cd frontend && pnpm run types:check
        To skip this push: git push --no-verify

feat: add image carousel
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/components/ImageCarousel.tsx
Due: frontend-format, frontend-lint

feat: refactor DonerCard and DonerCardSkeleton for improved layout and styling
  frontend/src/components/DonerCard.tsx
Due: frontend-format, frontend-lint

feat: update opening hours format and enhance related tests
  api_mock/data/place_1.json
  api_mock/data/place_2.json
  api_mock/data/place_4.json
  api_mock/data/places_list.json
  frontend/__tests__/openingHours.test.ts
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/app/stores/detail/page.tsx
  frontend/src/components/DonerCard.tsx
  frontend/src/components/badge/Badge.tsx
  frontend/src/helpers/openingHours.ts
Due: frontend-format, frontend-lint

fix: werid spacing
  frontend/src/components/badge/Badge.tsx
Due: frontend-format, frontend-lint

fix: copilot findings
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/components/DonerCard.tsx
  frontend/src/components/ImageCarousel.tsx
  frontend/src/helpers/openingHours.ts
  frontend/src/helpers/storeBadges.ts
Due: frontend-format, frontend-lint

feat: add Not Found page and update icon styles
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/app/not-found.tsx
  frontend/src/assets/icons/filter.svg
  frontend/src/assets/icons/infocircle.svg
  frontend/src/components/DonerCard.tsx
Due: frontend-format, frontend-lint

feat: Introduce BlobService for image storage and update image-classifier function configuration.
  backend/compose.yaml
  backend/functions/image-classifier/.env.example
  backend/functions/image-classifier/local.settings.json
  backend/functions/image-classifier/package.json
  backend/functions/image-classifier/src/services/BlobService.ts
  backend/functions/package-lock.json
Due: backend-format, backend-lint

feat: add custom error handling pages with suggestions and retry functionality
  frontend/next.config.ts
  frontend/src/app/error.tsx
  frontend/src/app/global-error.tsx
Due: frontend-format, frontend-lint

refactor: simplify error handling by removing unused error prop from ErrorPage
  frontend/src/app/error.tsx
  frontend/src/app/global-error.tsx
Due: frontend-format, frontend-lint

FIX: fix for ARM Mac
  backend/compose.yaml
Due: none

feat(backend - place-search): add dynamic grid generation #60
  backend/compose.yaml
  backend/functions/eslint.config.mjs
  backend/functions/package-lock.json
  backend/functions/place-search/.env.example
  backend/functions/place-search/.gitignore
  backend/functions/place-search/host.json
  backend/functions/place-search/local.settings.json.example
  backend/functions/place-search/package.json
  backend/functions/place-search/scripts/test-coverage-scan.ts
  backend/functions/place-search/src/config/adaptiveGridConfig.ts
  backend/functions/place-search/src/config/infraConfig.ts
  backend/functions/place-search/src/config/searchConfig.ts
  backend/functions/place-search/src/data/stuttgart_borders.json
  backend/functions/place-search/src/functions/gridGenerator.ts
  backend/functions/place-search/src/functions/placeSearch.ts
  backend/functions/place-search/src/mappers/placeMapper.ts
  backend/functions/place-search/src/services/cosmosDbService.ts
  backend/functions/place-search/src/services/googlePlacesService.ts
  backend/functions/place-search/src/services/gridService.ts
  backend/functions/place-search/src/services/subdivisionService.ts
  backend/functions/place-search/src/types/googlePlaces.types.ts
  backend/functions/place-search/src/types/grid.types.ts
  backend/functions/place-search/src/types/placeSearchResult.types.ts
  backend/functions/place-search/src/utils/adaptiveGridValidation.ts
  backend/functions/place-search/src/utils/async.ts
  backend/functions/place-search/src/utils/calculations.ts
  backend/functions/place-search/src/utils/envValidation.ts
  backend/functions/place-search/src/utils/geometry.ts
  backend/functions/place-search/src/utils/googlePlaces.ts
  backend/functions/place-search/src/utils/photo.ts
  backend/functions/place-search/src/utils/searchConfigValidation.ts
  backend/functions/place-search/test-full-production-workflow.ts
  backend/functions/place-search/tsconfig.json
  backend/functions/shared/doner_types/package-lock.json
  backend/functions/shared/doner_types/src/Place.ts
  backend/localdev/ServiceBus_Emulator.Config.json
Due: backend-format, backend-lint

feat: add Datenschutz and Impressum pages with detailed legal information
  frontend/src/app/datenschutz/page.tsx
  frontend/src/app/impressum/page.tsx
  frontend/src/app/kontakt/page.tsx
Due: frontend-format, frontend-lint

Update backend/functions/place-search/src/services/subdivisionService.ts
  backend/functions/place-search/src/services/subdivisionService.ts
Due: backend-format, backend-lint

Update backend/functions/place-search/src/functions/placeSearch.ts
  backend/functions/place-search/src/functions/placeSearch.ts
Due: backend-format, backend-lint

feat: add detailed 'Über uns' page with team introduction and mission statement
  frontend/src/app/ueberuns/page.tsx
Due: frontend-format, frontend-lint

fix: replace logo image with SVG component in Navbar
  frontend/public/logo/logo.svg
  frontend/src/assets/logo/logo.svg
  frontend/src/components/layout/Navbar.tsx
Due: none

feat: add googlePlaceId to location data for multiple places and update links to use it
  api_mock/data/place_1.json
  api_mock/data/place_10.json
  api_mock/data/place_2.json
  api_mock/data/place_3.json
  api_mock/data/place_4.json
  api_mock/data/place_5.json
  api_mock/data/place_6.json
  api_mock/data/place_7.json
  api_mock/data/place_8.json
  api_mock/data/place_9.json
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/app/error.tsx
  frontend/src/app/not-found.tsx
  frontend/src/app/ueberuns/page.tsx
  frontend/src/components/DonerCard.tsx
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/layout/NavLinks.tsx
  frontend/src/components/layout/Navbar.tsx
  frontend/src/types/store.ts
Due: frontend-format, frontend-lint

fix: font sizes mobile
  frontend/src/app/datenschutz/page.tsx
  frontend/src/app/impressum/page.tsx
  frontend/src/app/kontakt/page.tsx
  frontend/src/app/ueberuns/page.tsx
Due: frontend-format, frontend-lint

feat: implement llm analyze
  .gitignore
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
  backend/functions/llm-analyzer/tsconfig.json
  package-lock.json
  package.json
Due: backend-format, backend-lint

fix: type error in llmAnalyzer
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
Due: backend-format, backend-lint

feat: Implement VisionService for image analysis and enhance imageClassifier with blob storage integration
  backend/functions/image-classifier/src/functions/imageClassifier.ts
  backend/functions/image-classifier/src/services/BlobService.ts
  backend/functions/image-classifier/src/services/VisionService.ts
Due: backend-format, backend-lint

feat: add Azure infrastructure for AI playground and outputs for static web app API token
  .github/workflows/frontend.yaml
  .github/workflows/infrastructure.yml
  frontend/package-lock.json
  infrastructure/ai.tf
  infrastructure/ai_playground.tf
  infrastructure/outputs.tf
  infrastructure/web.tf
Due: frontend-format

feat: add static web app configuration for navigation fallback
  frontend/staticwebapp.config.json
Due: frontend-format

feat: update Terraform workflow to simplify commands and add AI playground resources
  .github/workflows/infrastructure.yml
  infrastructure/ai_playgound.tf
Due: none

fix: correct output value for static web app API token
  infrastructure/outputs.tf
Due: none

chore: remove obsolete AI playground infrastructure configuration
  infrastructure/ai_playgound.tf
Due: none

fix: update app build command to ignore scripts during installation
  .github/workflows/frontend.yaml
Due: none

fix: simplify frontend build command in CI/CD workflow
  .github/workflows/frontend.yaml
Due: none

fix: update build command for frontend deployment in CI/CD workflow
  .github/workflows/frontend.yaml
Due: none

fix: update build commands for frontend deployment in CI/CD workflow
  .github/workflows/frontend.yaml
Due: none

fix: update app build command in CI/CD workflow for frontend deployment
  .github/workflows/frontend.yaml
Due: none

fix: correct environment variable name for build command in CI/CD workflow
  .github/workflows/frontend.yaml
Due: none

fix: refactor frontend build steps in CI/CD workflow
  .github/workflows/frontend.yaml
Due: none

fix: rename step for clarity in frontend deployment workflow
  .github/workflows/frontend.yaml
Due: none

feat: add Dockerfile and GitHub Actions workflow for backend mock image build and push
  .github/workflows/build-mock.yml
  api_mock/Dockerfile
Due: none

fix: update Docker build context path in backend mock image workflow
  .github/workflows/build-mock.yml
Due: none

feat: add Azure Container App and environment configuration for API mock
  infrastructure/api_mock.tf
Due: none

feat: enhance frontend workflow to export API mock URL and update environment variable
  .github/workflows/frontend.yaml
  infrastructure/outputs.tf
Due: none

fix: update resource group references in API mock configuration
  infrastructure/api_mock.tf
Due: none
