Repository DonerGuideStuttgart/DonerGuide: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, frontend-format, frontend-lint

backend-format:
  priority: 1
  run: npm exec -- prettier --write --cache {staged_files}
  stage_fixed: true
  fail_text: 'Prettier formatting failed in backend!
  
    Run: cd backend/functions && npm run format
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

backend-lint:
  priority: 2
  run: npm exec -- eslint --fix --cache {staged_files}
  stage_fixed: true
  fail_text: 'ESLint found errors in backend!
  
    Run: cd backend/functions && npm run lint
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

frontend-format:
  priority: 1
  run: pnpm exec prettier --write --cache {staged_files}
  stage_fixed: true
  fail_text: 'Prettier formatting failed in frontend!
  
    Run: cd frontend && pnpm run format
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

frontend-lint:
  priority: 2
  run: pnpm exec eslint --fix --cache {staged_files}
  stage_fixed: true
  fail_text: 'ESLint found errors in frontend!
  
    Run: cd frontend && pnpm run lint
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

fix: test
  frontend/__tests__/DonerCard.test.tsx
Due: frontend-format, frontend-lint

fix: copilot review
  frontend/__tests__/pagination.test.ts
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/components/FilterChips.tsx
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/filters/CheckboxGroup.tsx
  frontend/src/components/filters/RangeSlider.tsx
  frontend/src/components/filters/filterUtils.ts
Due: frontend-format, frontend-lint

refactor: utils
  frontend/src/app/(entdecken)/exploreUtils.ts
  frontend/src/components/filters/filterUtils.ts
Due: frontend-format, frontend-lint

refactor: move filter
  frontend/src/components/FilterPanel.tsx
  frontend/src/helpers/filter/filterHandlers.ts
  frontend/src/helpers/filter/filterUtils.ts
  frontend/src/helpers/icons.tsx
Due: frontend-format, frontend-lint

fix: copilot implemmentations
  frontend/__tests__/pagination.test.ts
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/Sort.tsx
  frontend/src/components/filters/RangeSlider.tsx
  frontend/src/helpers/api.ts
Due: frontend-format, frontend-lint

fix: update dependency order in useEffect for filter synchronization
  frontend/src/app/(entdecken)/useExplore.ts
Due: frontend-format, frontend-lint

fix: prevent displaying default filter chips
  frontend/src/components/FilterChips.tsx
Due: frontend-format, frontend-lint

fix: ts errors
  frontend/pnpm-lock.yaml
  frontend/src/components/ReviewItem.tsx
  frontend/src/components/badges/Badge.tsx
  frontend/src/components/reviews/ReviewItem.tsx
  frontend/src/components/reviews/StarRating.tsx
Due: frontend-format, frontend-lint

feat: Introduce place search crawler specification, detailed tasks, and a comprehensive project knowledge base.
  AGENTS.md
  backend/functions/place-search/specs/SPECIFICATION.md
  backend/functions/place-search/specs/tasks/TASK_1_FOUNDATION.md
  backend/functions/place-search/specs/tasks/TASK_2_GRID_SELECTION.md
  backend/functions/place-search/specs/tasks/TASK_3_GOOGLE_API.md
  backend/functions/place-search/specs/tasks/TASK_4_SPLITTING.md
  backend/functions/place-search/specs/tasks/TASK_5_MERGING.md
  backend/functions/place-search/specs/tasks/TASK_6_PHOTOS.md
  backend/functions/place-search/specs/tasks/TASK_7_PLACE_SYNC.md
  backend/functions/place-search/specs/tasks/TASK_8_ORCHESTRATION.md
Due: backend-format

docs: Defer merging logic to v2, refine photo metadata handling, optimize Service Bus sync, and update grid selection and splitting specifications.
  backend/functions/place-search/specs/SPECIFICATION.md
  backend/functions/place-search/specs/tasks/TASK_2_GRID_SELECTION.md
  backend/functions/place-search/specs/tasks/TASK_3_GOOGLE_API.md
  backend/functions/place-search/specs/tasks/TASK_4_SPLITTING.md
  backend/functions/place-search/specs/tasks/TASK_5_MERGING.md
  backend/functions/place-search/specs/tasks/TASK_6_PHOTOS.md
  backend/functions/place-search/specs/tasks/TASK_7_PLACE_SYNC.md
Due: backend-format

feat: implement grid cell management for place search with spatial indexing and externalize configuration to an environment file.
  backend/compose.yaml
  backend/functions/place-search/.env.example
  backend/functions/place-search/src/functions/placeSearch.ts
  backend/functions/place-search/src/types/grid.ts
Due: backend-format, backend-lint

feat: Implement grid-based processing for place search using a new GridService and add corresponding unit tests.
  backend/functions/package-lock.json
  backend/functions/place-search/jest.config.js
  backend/functions/place-search/package.json
  backend/functions/place-search/src/functions/placeSearch.ts
  backend/functions/place-search/src/services/grid.service.test.ts
  backend/functions/place-search/src/services/grid.service.ts
Due: backend-format, backend-lint

chore: Clarify `PLACE_SEARCH_DRY_RUN` behavior and update example configuration values.
  backend/functions/place-search/.env.example
  backend/functions/place-search/specs/SPECIFICATION.md
  backend/functions/place-search/specs/tasks/TASK_8_ORCHESTRATION.md
  backend/functions/shared/doner_types/package-lock.json
Due: backend-format

feat: integrate Google Places API for place search with data mapping, mock data support, and updated compose.yaml for Azurite and SQL Edge healthcheck.
  backend/compose.yaml
  backend/functions/place-search/.env.example
  backend/functions/place-search/src/functions/placeSearch.ts
  backend/functions/place-search/src/services/google-maps.service.test.ts
  backend/functions/place-search/src/services/google-maps.service.ts
  backend/functions/place-search/src/services/grid.service.test.ts
  backend/functions/place-search/src/services/grid.service.ts
Due: backend-format, backend-lint

refactor: consolidate Service Bus output configuration into a shared constant
  backend/functions/place-search/src/functions/placeSearch.ts
Due: backend-format, backend-lint

feat: Add photo dimensions and author attributions to Photo type and Google Maps service integration.
  backend/functions/place-search/src/services/google-maps.service.test.ts
  backend/functions/place-search/src/services/google-maps.service.ts
  backend/functions/shared/doner_types/src/Photo.ts
Due: backend-format, backend-lint

feat: Add `lastUpdated` field to `Place` and enhance update logic with detailed change detection and photo merging.
  backend/functions/place-search/src/functions/placeSearch.ts
  backend/functions/shared/doner_types/src/Place.ts
Due: backend-format, backend-lint

feat: Add unit tests for `placeSearch` function, refactor grid service Cosmos DB queries, and refine mock Google Maps service behavior.
  backend/functions/place-search/src/functions/placeSearch.test.ts
  backend/functions/place-search/src/functions/placeSearch.ts
  backend/functions/place-search/src/services/google-maps.service.ts
  backend/functions/place-search/src/services/grid.service.ts
  backend/functions/place-search/tsconfig.json
Due: backend-format, backend-lint

feat: Configure `place-search` to run on port 7071 and request `places.photos.name` from Google Maps.
  backend/compose.yaml
  backend/functions/place-search/package.json
  backend/functions/place-search/src/services/google-maps.service.test.ts
  backend/functions/place-search/src/services/google-maps.service.ts
Due: backend-format, backend-lint

fix: unused comps
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/reviews/ReviewItem.tsx
  frontend/src/components/reviews/StarRating.tsx
Due: frontend-format, frontend-lint

Refactor place data structure and API endpoints
  api_mock/data/place_1.json
  api_mock/data/place_10.json
  api_mock/data/place_2.json
  api_mock/data/place_3.json
  api_mock/data/place_4.json
  api_mock/data/place_5.json
  api_mock/data/place_6.json
  api_mock/data/place_7.json
  api_mock/data/place_8.json
  api_mock/data/place_9.json
  api_mock/data/places_list.json
  api_mock/server.js
  frontend/src/app/(entdecken)/[id]/page.tsx
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/helpers/api.ts
  frontend/src/helpers/routes.ts
  frontend/src/types/store.ts
Due: frontend-format, frontend-lint

fix: mockdata
  api_mock/data/place_1.json
  api_mock/data/place_10.json
  api_mock/data/place_2.json
  api_mock/data/place_3.json
  api_mock/data/place_4.json
  api_mock/data/place_5.json
  api_mock/data/place_6.json
  api_mock/data/place_7.json
  api_mock/data/place_8.json
  api_mock/data/place_9.json
  api_mock/data/places_list.json
  api_mock/server.js
  frontend/src/types/records.ts
  frontend/src/types/store.ts
Due: frontend-format, frontend-lint

feat: Add new SVG icons and enhance DonerCard component
  api_mock/data/place_1.json
  api_mock/data/place_10.json
  api_mock/data/place_2.json
  api_mock/data/place_3.json
  api_mock/data/place_4.json
  api_mock/data/place_5.json
  api_mock/data/place_6.json
  api_mock/data/place_7.json
  api_mock/data/place_8.json
  api_mock/data/place_9.json
  api_mock/data/places_list.json
  api_mock/server.js
  frontend/next.config.ts
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/app/stores/detail/page.tsx
  frontend/src/assets/icons/cash.svg
  frontend/src/assets/icons/circlesolid.svg
  frontend/src/assets/icons/clock.svg
  frontend/src/assets/icons/creditcard.svg
  frontend/src/assets/icons/infocircle.svg
  frontend/src/assets/icons/run.svg
  frontend/src/assets/icons/vegan.svg
  frontend/src/assets/icons/vegetarian.svg
  frontend/src/assets/icons/xcircle.svg
  frontend/src/components/DonerCard.tsx
  frontend/src/components/FilterChips.tsx
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/Sort.tsx
  frontend/src/components/badge/Badge.tsx
  frontend/src/components/badge/badgeConfig.tsx
  frontend/src/components/badges/Badge.tsx
  frontend/src/components/badges/badgeConfig.tsx
  frontend/src/types/BadgeType.ts
  frontend/src/types/records.ts
Due: frontend-format, frontend-lint

feat: Enhance DonerCard with location display and opening hours logic
  frontend/__tests__/DonerCard.test.tsx
  frontend/src/assets/icons/location.svg
  frontend/src/components/DonerCard.tsx
  frontend/src/helpers/openingHours.ts
Due: frontend-format, frontend-lint

fix: ts errors
  frontend/src/app/(entdecken)/useExplore.ts
  frontend/src/components/ReviewItem.tsx
Due: frontend-format, frontend-lint

feat: Improve pagination logic by checking total items from backend
  frontend/src/app/(entdecken)/useExplore.ts
Due: frontend-format, frontend-lint

fix: mobile version of donercard
  frontend/src/components/DonerCard.tsx
Due: frontend-format, frontend-lint

Refactor opening hours handling to use minutes since midnight
  api_mock/data/place_1.json
  api_mock/data/place_10.json
  api_mock/data/place_11.json
  api_mock/data/place_2.json
  api_mock/data/place_3.json
  api_mock/data/place_4.json
  api_mock/data/place_5.json
  api_mock/data/place_6.json
  api_mock/data/place_7.json
  api_mock/data/place_8.json
  api_mock/data/place_9.json
  api_mock/data/places_list.json
  api_mock/server.js
  frontend/__tests__/openingHours.test.ts
  frontend/src/helpers/openingHours.ts
  frontend/src/types/store.ts
Due: frontend-format, frontend-lint

feat: Update opening hours format to use minutes since midnight
  frontend/__tests__/DonerCard.test.tsx
Due: frontend-format, frontend-lint

docs: Add place-search README and remove photo dimensions and author attributions from Photo type and service logic.
  backend/functions/place-search/README.md
  backend/functions/place-search/src/services/google-maps.service.test.ts
  backend/functions/place-search/src/services/google-maps.service.ts
  backend/functions/shared/doner_types/src/Photo.ts
Due: backend-format, backend-lint

feat: Add initial specification and detailed tasks for the image classifier function.
  backend/functions/image-classifier/specs/SPECIFICATION.md
  backend/functions/image-classifier/specs/tasks/TASK_1_MODELS.md
  backend/functions/image-classifier/specs/tasks/TASK_2_STORAGE.md
  backend/functions/image-classifier/specs/tasks/TASK_3_VISION.md
  backend/functions/image-classifier/specs/tasks/TASK_4_HANDLER.md
Due: backend-format

feat: Standardize photo representation in Place objects to a flat array with detailed Photo types and add user to Docker Compose services.
  backend/compose.yaml
  backend/functions/place-search/src/functions/placeSearch.ts
  backend/functions/place-search/src/services/google-maps.service.ts
  backend/functions/shared/doner_types/src/Photo.ts
  backend/functions/shared/doner_types/src/Place.ts
Due: backend-format, backend-lint

feat: Update opening hours format to use minutes since midnight in place data
  api_mock/data/place_3.json
  api_mock/data/place_4.json
  api_mock/data/place_5.json
  api_mock/data/places_list.json
  frontend/src/helpers/openingHours.ts
Due: frontend-format, frontend-lint

feat: Update Sunday opening hours to start at 200 minutes refactor: improve opening hours
  api_mock/data/place_1.json
  api_mock/data/places_list.json
  api_mock/server.js
  frontend/src/helpers/openingHours.ts
Due: frontend-format, frontend-lint

fix: test
  frontend/__tests__/ChipsFilterBar.test.tsx
Due: frontend-format, frontend-lint

feat: Enhance store detail handling with notFound response and improve fetchPlaceBySlug error handling
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/components/FilterChips.tsx
  frontend/src/helpers/api.ts
Due: frontend-format, frontend-lint

feat: Implement detailed store information page with badges and navigation enhancements
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/assets/icons/aistars.svg
  frontend/src/assets/icons/chevronleft.svg
  frontend/src/assets/icons/chevronright.svg
  frontend/src/assets/icons/chevronup.svg
  frontend/src/components/DonerCard.tsx
  frontend/src/components/layout/Navbar.tsx
  frontend/src/helpers/storeBadges.ts
Due: frontend-format, frontend-lint

Revert "docs: Add place-search README and remove photo dimensions and author …"
  backend/functions/place-search/README.md
  backend/functions/place-search/src/services/google-maps.service.test.ts
  backend/functions/place-search/src/services/google-maps.service.ts
  backend/functions/shared/doner_types/src/Photo.ts
Due: backend-format, backend-lint

feat: Update store opening hours and remove obsolete place data
  api_mock/data/place_1.json
  api_mock/data/place_11.json
  api_mock/data/places_list.json
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/assets/icons/clock.svg
  frontend/src/assets/icons/phone.svg
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/badge/badgeConfig.tsx
  frontend/src/helpers/openingHours.ts
  frontend/src/types/records.ts
Due: frontend-format, frontend-lint

fix: layout
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/app/(entdecken)/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/layout/Navbar.tsx
Due: frontend-format, frontend-lint

Path conditions:
  backend-format: any of: **/*.{ts,js,json,md} and ^backend/functions/ and not (node_modules/|dist/|build/|coverage/)
  backend-lint: any of: **/*.{ts,js} and ^backend/functions/ and not (node_modules/|dist/|build/|coverage/)
  frontend-format: any of: **/*.{ts,tsx,js,jsx,json,md,css} and ^frontend/ and not (node_modules/|.next/|out/|build/|coverage/)
  frontend-lint: any of: **/*.{ts,tsx,js,jsx} and ^frontend/ and not (node_modules/|.next/|out/|build/|coverage/)
