Repository DonerGuideStuttgart/DonerGuide: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, frontend-format, frontend-lint

backend-format:
  priority: 1
  run: npm exec -- prettier --write --cache {staged_files}
  stage_fixed: true
  fail_text: 'Prettier formatting failed in backend!
  
    Run: cd backend/functions && npm run format
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

backend-lint:
  priority: 2
  run: npm exec -- eslint --fix --cache {staged_files}
  stage_fixed: true
  fail_text: 'ESLint found errors in backend!
  
    Run: cd backend/functions && npm run lint
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

frontend-format:
  priority: 1
  run: pnpm exec prettier --write --cache {staged_files}
  stage_fixed: true
  fail_text: 'Prettier formatting failed in frontend!
  
    Run: cd frontend && pnpm run format
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

frontend-lint:
  priority: 2
  run: pnpm exec eslint --fix --cache {staged_files}
  stage_fixed: true
  fail_text: 'ESLint found errors in frontend!
  
    Run: cd frontend && pnpm run lint
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

style(functions): apply prettier formatting #56
  backend/functions/image-classifier/host.json
  backend/functions/image-classifier/local.settings.json
  backend/functions/image-classifier/src/functions/imageClassifier.ts
  backend/functions/llm-analyzer/host.json
  backend/functions/llm-analyzer/local.settings.json
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
  backend/functions/place-search/host.json
  backend/functions/place-search/local.settings.json
  backend/functions/place-search/src/functions/placeSearch.ts
  backend/functions/shared/doner_types/index.ts
  backend/functions/shared/doner_types/package.json
  backend/functions/shared/doner_types/src/NewPhotosMessage.ts
  backend/functions/shared/doner_types/src/PaymentMethods.ts
  backend/functions/shared/doner_types/src/Photo.ts
  backend/functions/shared/doner_types/src/Place.ts
  backend/functions/shared/doner_types/src/StoreAnalysis.ts
  backend/functions/shared/doner_types/src/WaitingTime.ts
  backend/functions/shared/doner_types/tsconfig.json
  backend/functions/shops/host.json
  backend/functions/shops/src/functions/getShopById.ts
  backend/functions/shops/src/functions/getShops.ts
Due: backend-format, backend-lint

fix(frontend): add missing packages field to pnpm-workspace.yaml #56
  frontend/pnpm-workspace.yaml
Due: none

chore(scripts): standardize npm scripts across frontend and backend #56
  backend/functions/package.json
  frontend/package.json
Due: backend-format, frontend-format

chore(prettier): ignore lock files and build artifacts #56
  backend/functions/.prettierignore
  frontend/.prettierignore
Due: none

style(frontend): apply prettier formatting #56
  frontend/README.md
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/datenschutz/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/impressum/page.tsx
  frontend/src/app/kontakt/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/stores/[id]/page.tsx
  frontend/src/app/stores/page.tsx
  frontend/src/components/ChipsFilterBar.tsx
  frontend/src/components/DonerCard.tsx
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/SortControl.tsx
  frontend/src/helpers/api.ts
  frontend/src/types/records.ts
  frontend/src/types/store.ts
  frontend/tailwind.config.js
Due: frontend-format, frontend-lint

chore(frontend): remove unused variables and imports #56
  frontend/src/app/stores/[id]/page.tsx
  frontend/src/components/ChipsFilterBar.tsx
  frontend/src/components/FilterPanel.tsx
Due: frontend-format, frontend-lint

refactor(frontend): update tailwind config to use import syntax #56
  frontend/tailwind.config.js
Due: frontend-format, frontend-lint

fix(frontend): replace explicit any with proper interfaces #56
  frontend/src/app/stores/[id]/page.tsx
  frontend/src/app/stores/page.tsx
  frontend/src/helpers/api.ts
Due: frontend-format, frontend-lint

fix(frontend Navbar): correct tabIndex type from string to number #56
  frontend/src/components/Navbar.tsx
Due: frontend-format, frontend-lint

style(functions): apply prettier formatting #56
  backend/functions/.prettierrc
  backend/functions/eslint.config.mjs
Due: none

chore: add postinstall script to auto-install lefthook hooks #56
  backend/functions/package.json
  frontend/package.json
Due: backend-format, frontend-format

chore: exclude auto-generated git hooks from version control #56
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  backend/functions/package-lock.json
Due: backend-format

fix navbar background, add padding to body
  frontend/src/app/layout.tsx
  frontend/src/components/Navbar.tsx
Due: frontend-format, frontend-lint

create star rating and review component
  frontend/package.json
  frontend/src/components/reviews/ReviewItem.tsx
  frontend/src/components/reviews/StarRating.tsx
Due: frontend-format, frontend-lint

create details page -draft
  frontend/src/app/stores/detail/page.tsx
Due: frontend-format, frontend-lint

updated getShopById
  backend/functions/shared/doner_types/package-lock.json
  backend/functions/shops/src/functions/getShopById.ts
Due: backend-format, backend-lint

add drawer component for mobile ui
  frontend/src/app/stores/page.tsx
  frontend/src/components/Drawer.tsx
Due: frontend-format, frontend-lint

fix(frontend): upgrade React to 19.2.3 to resolve CVE-2025-55182 #58
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/Drawer.tsx
Due: frontend-format, frontend-lint

add heroui
  frontend/package.json
Due: frontend-format

add icons helper
  frontend/src/helpers/icons.tsx
Due: frontend-format, frontend-lint

add filter menu icon and update drawer close button
  frontend/src/app/stores/page.tsx
  frontend/src/components/Drawer.tsx
Due: frontend-format, frontend-lint

add filter menu icon and update drawer close button
  frontend/src/components/Drawer.tsx
Due: frontend-format, frontend-lint

fix(backend): remove postinstall script for docker-compose #62
  backend/compose.yaml
Due: none

Revert "fix(backend): remove postinstall script for docker-compose #62"
  backend/compose.yaml
Due: none

fix(backend): skip lefthook postinstall inside docker container #62
  backend/functions/package.json
Due: backend-format

style: format code with prettier
  frontend/src/app/stores/page.tsx
  frontend/src/components/Drawer.tsx
Due: frontend-format, frontend-lint

fix(backend): remove postinstall script to remove the docker compose error #62
  backend/functions/README.md
  backend/functions/package-lock.json
  backend/functions/package.json
Due: backend-format

fix(frontend): not up to date lockfile
  frontend/pnpm-lock.yaml
Due: none

refactor: move explore page refactor: rename apimock folder
  api_mock/data/place_1.json
  api_mock/data/place_10.json
  api_mock/data/place_2.json
  api_mock/data/place_3.json
  api_mock/data/place_4.json
  api_mock/data/place_5.json
  api_mock/data/place_6.json
  api_mock/data/place_7.json
  api_mock/data/place_8.json
  api_mock/data/place_9.json
  api_mock/data/places_list.json
  api_mock/openapi.yaml
  api_mock/package-lock.json
  api_mock/package.json
  api_mock/server.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/src/app/(entdecken)/[id]/page.tsx
  frontend/src/app/(entdecken)/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
Due: frontend-format, frontend-lint

fix: tests
  frontend/__tests__/example.test.tsx
Due: frontend-format, frontend-lint

feat: add items
  frontend/public/icons/menu.svg
  frontend/public/logo/logo.svg
Due: none

fix: container wrong color
  frontend/src/app/(entdecken)/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/ChipsFilterBar.tsx
Due: frontend-format, frontend-lint

feat: add routes ts
  frontend/src/helpers/routes.ts
Due: frontend-format, frontend-lint

fix: navbar and finish it refactor: move components
  frontend/src/app/layout.tsx
  frontend/src/app/ueberuns/page.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/layout/NavLinks.tsx
  frontend/src/components/layout/Navbar.tsx
Due: frontend-format, frontend-lint

fix: footer
  frontend/src/app/globals.css
  frontend/src/components/layout/Footer.tsx
Due: frontend-format

fix: footer links
  frontend/src/components/layout/Footer.tsx
Due: none

fix: icons
  frontend/next.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/icons/menu.svg
  frontend/src/assets/icons/menu.svg
  frontend/src/components/layout/Navbar.tsx
Due: frontend-format, frontend-lint

Path conditions:
  backend-format: any of: **/*.{ts,js,json,md} and ^backend/functions/ and not (node_modules/|dist/|build/|coverage/)
  backend-lint: any of: **/*.{ts,js} and ^backend/functions/ and not (node_modules/|dist/|build/|coverage/)
  frontend-format: any of: **/*.{ts,tsx,js,jsx,json,md,css} and ^frontend/ and not (node_modules/|.next/|out/|build/|coverage/)
  frontend-lint: any of: **/*.{ts,tsx,js,jsx} and ^frontend/ and not (node_modules/|.next/|out/|build/|coverage/)
