Repository DonerGuideStuttgart/DonerGuide: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, frontend-format, frontend-lint

backend-format:
  priority: 1
  run: npm exec -- prettier --write --cache {staged_files}
  stage_fixed: true
  fail_text: 'Prettier formatting failed in backend!
  
    Run: cd backend/functions && npm run format
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

backend-lint:
  priority: 2
  run: npm exec -- eslint --fix --cache {staged_files}
  stage_fixed: true
  fail_text: 'ESLint found errors in backend!
  
    Run: cd backend/functions && npm run lint
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

frontend-format:
  priority: 1
  run: pnpm exec prettier --write --cache {staged_files}
  stage_fixed: true
  fail_text: 'Prettier formatting failed in frontend!
  
    Run: cd frontend && pnpm run format
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

frontend-lint:
  priority: 2
  run: pnpm exec eslint --fix --cache {staged_files}
  stage_fixed: true
  fail_text: 'ESLint found errors in frontend!
  
    Run: cd frontend && pnpm run lint
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

fix
  infrastructure/ai.tf
Due: none

fix
  backend/functions/llm-analyzer/.env.example
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
Due: backend-format, backend-lint

fix
  infrastructure/functions.tf
Due: none

initial commit
  backend/functions/package-lock.json
  backend/functions/shops/.env.example
  backend/functions/shops/package.json
  backend/functions/shops/src/functions/getShopById.ts
  backend/functions/shops/src/functions/getShops.ts
Due: backend-format, backend-lint

change map pins to logo, fix linting findings
  frontend/__tests__/StoreMap.test.tsx
  frontend/package-lock.json
  frontend/src/components/Map/StoreMap.tsx
Due: frontend-format, frontend-lint

adjust map pin
  frontend/src/assets/logo/map_pin.svg
  frontend/src/components/Map/StoreMap.tsx
Due: frontend-format, frontend-lint

adjust map pin background
  frontend/src/assets/logo/map_pin.svg
Due: none

add shops function to docker setup
  backend/compose.yaml
  backend/localdev/emulators.yaml
Due: none

add hello world http trigger and upgraded build scripts
  backend/functions/shops/package.json
  backend/functions/shops/src/functions/ping_pong.ts
Due: backend-format, backend-lint

fix docker file
  backend/localdev/emulators.yaml
Due: none

fix setup
  backend/compose.yaml
  backend/functions/package-lock.json
  backend/functions/shops/package.json
  backend/functions/shops/src/functions/ping_pong.ts
Due: backend-format, backend-lint

enable mock mode in default config
  backend/functions/image-classifier/.env.example
Due: none

force platform: linux/amd64
  backend/compose.yaml
Due: none

nodejs pfusch
  backend/compose.yaml
Due: none

mehr pfusch
  backend/compose.yaml
Due: none

fix compose
  backend/compose.yaml
Due: none

performance
  backend/compose.yaml
Due: none

more performance
  backend/compose.yaml
Due: none

more caching
  backend/compose.yaml
Due: none

add settings
  backend/functions/shops/.gitignore
  backend/functions/shops/local.settings.json
Due: backend-format

increase ai limits
  infrastructure/ai.tf
Due: none

fix api version?
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
Due: backend-format, backend-lint

add working endpoints
  backend/functions/shops/local.settings.json
  backend/functions/shops/src/functions/getShopById.ts
  backend/functions/shops/src/functions/getShops.ts
  backend/functions/shops/src/functions/mapper.ts
  frontend/.env
  frontend/src/app/(entdecken)/[slug]/page.tsx
Due: backend-format, backend-lint, frontend-format, frontend-lint

fix endpoint?
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
  infrastructure/functions.tf
Due: backend-format, backend-lint

i don't know
  backend/compose.yaml
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
  infrastructure/functions.tf
Due: backend-format, backend-lint

feat: Increase Service Bus retry delay for image classifier and LLM analyzer functions, and update the place search grid version to v2.
  backend/functions/image-classifier/host.json
  backend/functions/llm-analyzer/host.json
  infrastructure/functions.tf
Due: backend-format

feat: Configure Service Bus client retry options and message handler concurrency.
  backend/functions/place-search/host.json
Due: backend-format

Updated emulator connection strings for Service Bus and CosmosDB, and corrected storage endpoint protocol.
  backend/functions/image-classifier/.env.example
  backend/functions/llm-analyzer/.env.example
  backend/functions/place-search/.env.example
Due: none

new-personas
  backend/functions/llm-analyzer/src/helper/analyzeImage.ts
  backend/functions/llm-analyzer/src/helper/prompts.ts
  backend/functions/shared/doner_types/src/StoreAnalysis.ts
Due: backend-format, backend-lint

new-personas
  backend/functions/llm-analyzer/src/helper/analyzeImage.ts
  backend/functions/llm-analyzer/src/helper/prompts.ts
Due: backend-format, backend-lint

chore: Add build step for shared types to the backend workflow.
  .github/workflows/backend.yml
Due: none

feat: Add shops function app with associated infrastructure, deployment, and API DNS records.
  .github/workflows/backend.yml
  infrastructure/application_insights.tf
  infrastructure/functions.tf
  infrastructure/outputs.tf
  infrastructure/web.tf
Due: none

feat: Add Azure Cognitive Deployment for an image model.
  infrastructure/ai_playground.tf
Due: none

refactor: Update import path for `doner_types`.
  backend/functions/llm-analyzer/src/helper/analyzeImage.ts
Due: backend-format, backend-lint

chore: remove `gpt-image-1-mini` cognitive deployment from AI playground.
  infrastructure/ai_playground.tf
Due: none

refactor: Update API DNS CNAME and verification records to target the Linux Function App instead of the Static Web App.
  infrastructure/web.tf
Due: none

Path conditions:
  backend-format: any of: **/*.{ts,js,json,md} and ^backend/functions/ and not (node_modules/|dist/|build/|coverage/)
  backend-lint: any of: **/*.{ts,js} and ^backend/functions/ and not (node_modules/|dist/|build/|coverage/)
  frontend-format: any of: **/*.{ts,tsx,js,jsx,json,md,css} and ^frontend/ and not (node_modules/|.next/|out/|build/|coverage/)
  frontend-lint: any of: **/*.{ts,tsx,js,jsx} and ^frontend/ and not (node_modules/|.next/|out/|build/|coverage/)
