Repository DonerGuideStuttgart/DonerGuide: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, frontend-format, frontend-lint

backend-format:
  priority: 1
  run: npm exec -- prettier --write --cache {staged_files}
  stage_fixed: true
  fail_text: 'Prettier formatting failed in backend!
  
    Run: cd backend/functions && npm run format
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

backend-lint:
  priority: 2
  run: npm exec -- eslint --fix --cache {staged_files}
  stage_fixed: true
  fail_text: 'ESLint found errors in backend!
  
    Run: cd backend/functions && npm run lint
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

frontend-format:
  priority: 1
  run: pnpm exec prettier --write --cache {staged_files}
  stage_fixed: true
  fail_text: 'Prettier formatting failed in frontend!
  
    Run: cd frontend && pnpm run format
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

frontend-lint:
  priority: 2
  run: pnpm exec eslint --fix --cache {staged_files}
  stage_fixed: true
  fail_text: 'ESLint found errors in frontend!
  
    Run: cd frontend && pnpm run lint
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

fix: remove location attribute from API mock container app resource
  infrastructure/api_mock.tf
Due: none

fix: update traffic weight configuration for API mock container app
  infrastructure/api_mock.tf
Due: none

fix: update API mock URL output to use latest revision FQDN
  infrastructure/outputs.tf
Due: none

Add Jest configuration and tests for VisionService
  backend/functions/image-classifier/.env.example
  backend/functions/image-classifier/jest.config.js
  backend/functions/image-classifier/package.json
  backend/functions/image-classifier/src/functions/imageClassifier.ts
  backend/functions/image-classifier/src/services/VisionService.ts
  backend/functions/image-classifier/src/services/__tests__/VisionService.test.ts
  backend/functions/image-classifier/src/types/jest.d.ts
  backend/functions/package-lock.json
Due: backend-format, backend-lint

formatting
  backend/functions/image-classifier/local.settings.json
  backend/functions/image-classifier/specs/SPECIFICATION.md
  backend/functions/image-classifier/specs/tasks/TASK_1_MODELS.md
  backend/functions/image-classifier/specs/tasks/TASK_2_STORAGE.md
  backend/functions/image-classifier/specs/tasks/TASK_3_VISION.md
  backend/functions/image-classifier/specs/tasks/TASK_4_HANDLER.md
  backend/functions/image-classifier/src/services/BlobService.ts
  backend/functions/place-search/README.md
  backend/functions/place-search/jest.config.js
  backend/functions/place-search/specs/SPECIFICATION.md
  backend/functions/place-search/specs/tasks/TASK_1_FOUNDATION.md
  backend/functions/place-search/specs/tasks/TASK_2_GRID_SELECTION.md
  backend/functions/place-search/specs/tasks/TASK_3_GOOGLE_API.md
  backend/functions/place-search/specs/tasks/TASK_4_SPLITTING.md
  backend/functions/place-search/specs/tasks/TASK_5_MERGING.md
  backend/functions/place-search/specs/tasks/TASK_6_PHOTOS.md
  backend/functions/place-search/specs/tasks/TASK_7_PLACE_SYNC.md
  backend/functions/place-search/specs/tasks/TASK_8_ORCHESTRATION.md
  backend/functions/place-search/src/functions/placeSearch.test.ts
  backend/functions/place-search/src/functions/placeSearch.ts
  backend/functions/place-search/src/services/google-maps.service.test.ts
  backend/functions/place-search/src/services/google-maps.service.ts
  backend/functions/place-search/src/services/grid.service.test.ts
  backend/functions/place-search/src/services/grid.service.ts
  backend/functions/place-search/src/types/grid.ts
  backend/functions/place-search/tsconfig.json
  backend/functions/shared/doner_types/src/Photo.ts
Due: backend-format, backend-lint

linting errors
  backend/functions/image-classifier/jest.config.js
  backend/functions/image-classifier/src/functions/imageClassifier.ts
  backend/functions/image-classifier/src/services/BlobService.ts
  backend/functions/image-classifier/src/services/VisionService.ts
  backend/functions/image-classifier/src/services/__tests__/VisionService.test.ts
  backend/functions/place-search/jest.config.js
  backend/functions/place-search/src/functions/placeSearch.test.ts
  backend/functions/place-search/src/functions/placeSearch.ts
  backend/functions/place-search/src/services/google-maps.service.test.ts
  backend/functions/place-search/src/services/google-maps.service.ts
  backend/functions/place-search/src/services/grid.service.test.ts
  backend/functions/place-search/src/services/grid.service.ts
  backend/functions/place-search/tsconfig.json
Due: backend-format, backend-lint

feat: update dependencies and add tests for place-search and image-classifier functions
  backend/compose.yaml
  backend/functions/image-classifier/src/functions/__tests__/imageClassifier.test.ts
  backend/functions/image-classifier/src/functions/imageClassifier.ts
  backend/functions/image-classifier/tsconfig.json
  backend/functions/llm-analyzer/package.json
  backend/functions/llm-analyzer/tsconfig.json
  backend/functions/package-lock.json
  backend/functions/place-search/jest.config.js
  backend/functions/place-search/src/functions/__tests__/placeSearch.test.ts
  backend/functions/place-search/src/services/__tests__/google-maps.service.test.ts
  backend/functions/place-search/src/services/__tests__/grid.service.test.ts
  backend/functions/place-search/tsconfig.json
  backend/functions/place-search/tsconfig.test.json
  backend/functions/shops/tsconfig.json
Due: backend-format, backend-lint

lint fixing
  backend/functions/eslint.config.mjs
  backend/functions/image-classifier/src/functions/__tests__/imageClassifier.test.ts
  backend/functions/image-classifier/src/functions/imageClassifier.ts
  backend/functions/image-classifier/tsconfig.test.json
  backend/functions/place-search/src/functions/__tests__/placeSearch.test.ts
  backend/functions/place-search/src/services/__tests__/google-maps.service.test.ts
  backend/functions/place-search/src/services/__tests__/grid.service.test.ts
  backend/package-lock.json
Due: backend-format, backend-lint

create logic for badge component
  frontend/src/components/badges/Badge.tsx
  frontend/src/components/badges/badgeConfig.tsx
  frontend/src/types/BadgeType.ts
Due: frontend-format, frontend-lint

create logic for review component
  frontend/src/components/ReviewItem.tsx
Due: frontend-format, frontend-lint

feat: refactor DonerCard and DonerCardSkeleton for improved layout and styling
  frontend/src/components/DonerCard.tsx
Due: frontend-format, frontend-lint

fix: mockdata
  api_mock/data/place_1.json
  api_mock/data/place_10.json
  api_mock/data/place_2.json
  api_mock/data/place_3.json
  api_mock/data/place_4.json
  api_mock/data/place_5.json
  api_mock/data/place_6.json
  api_mock/data/place_7.json
  api_mock/data/place_8.json
  api_mock/data/place_9.json
  api_mock/data/places_list.json
  api_mock/server.js
  frontend/src/types/records.ts
  frontend/src/types/store.ts
Due: frontend-format, frontend-lint

feat: Update store opening hours and remove obsolete place data
  api_mock/data/place_1.json
  api_mock/data/place_11.json
  api_mock/data/places_list.json
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/assets/icons/clock.svg
  frontend/src/assets/icons/phone.svg
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/badge/badgeConfig.tsx
  frontend/src/helpers/openingHours.ts
  frontend/src/types/records.ts
Due: frontend-format, frontend-lint

feat: Enhance store detail handling with notFound response and improve fetchPlaceBySlug error handling
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/components/FilterChips.tsx
  frontend/src/helpers/api.ts
Due: frontend-format, frontend-lint

fix: copilot findings
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/components/DonerCard.tsx
  frontend/src/components/ImageCarousel.tsx
  frontend/src/helpers/openingHours.ts
  frontend/src/helpers/storeBadges.ts
Due: frontend-format, frontend-lint

Refactor opening hours handling to use minutes since midnight
  api_mock/data/place_1.json
  api_mock/data/place_10.json
  api_mock/data/place_11.json
  api_mock/data/place_2.json
  api_mock/data/place_3.json
  api_mock/data/place_4.json
  api_mock/data/place_5.json
  api_mock/data/place_6.json
  api_mock/data/place_7.json
  api_mock/data/place_8.json
  api_mock/data/place_9.json
  api_mock/data/places_list.json
  api_mock/server.js
  frontend/__tests__/openingHours.test.ts
  frontend/src/helpers/openingHours.ts
  frontend/src/types/store.ts
Due: frontend-format, frontend-lint

create details page -draft
  frontend/src/app/stores/detail/page.tsx
Due: frontend-format, frontend-lint

feat: Improve pagination logic by checking total items from backend
  frontend/src/app/(entdecken)/useExplore.ts
Due: frontend-format, frontend-lint

feat: Update Sunday opening hours to start at 200 minutes refactor: improve opening hours
  api_mock/data/place_1.json
  api_mock/data/places_list.json
  api_mock/server.js
  frontend/src/helpers/openingHours.ts
Due: frontend-format, frontend-lint

feat: Update opening hours format to use minutes since midnight
  frontend/__tests__/DonerCard.test.tsx
Due: frontend-format, frontend-lint

feat: add detailed 'Über uns' page with team introduction and mission statement
  frontend/src/app/ueberuns/page.tsx
Due: frontend-format, frontend-lint

feat: add custom error handling pages with suggestions and retry functionality
  frontend/next.config.ts
  frontend/src/app/error.tsx
  frontend/src/app/global-error.tsx
Due: frontend-format, frontend-lint

feat: Add new SVG icons and enhance DonerCard component
  api_mock/data/place_1.json
  api_mock/data/place_10.json
  api_mock/data/place_2.json
  api_mock/data/place_3.json
  api_mock/data/place_4.json
  api_mock/data/place_5.json
  api_mock/data/place_6.json
  api_mock/data/place_7.json
  api_mock/data/place_8.json
  api_mock/data/place_9.json
  api_mock/data/places_list.json
  api_mock/server.js
  frontend/next.config.ts
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/app/stores/detail/page.tsx
  frontend/src/assets/icons/cash.svg
  frontend/src/assets/icons/circlesolid.svg
  frontend/src/assets/icons/clock.svg
  frontend/src/assets/icons/creditcard.svg
  frontend/src/assets/icons/infocircle.svg
  frontend/src/assets/icons/run.svg
  frontend/src/assets/icons/vegan.svg
  frontend/src/assets/icons/vegetarian.svg
  frontend/src/assets/icons/xcircle.svg
  frontend/src/components/DonerCard.tsx
  frontend/src/components/FilterChips.tsx
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/Sort.tsx
  frontend/src/components/badge/Badge.tsx
  frontend/src/components/badge/badgeConfig.tsx
  frontend/src/components/badges/Badge.tsx
  frontend/src/components/badges/badgeConfig.tsx
  frontend/src/types/BadgeType.ts
  frontend/src/types/records.ts
Due: frontend-format, frontend-lint

feat: add image carousel
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/components/ImageCarousel.tsx
Due: frontend-format, frontend-lint

feat: Enhance DonerCard with location display and opening hours logic
  frontend/__tests__/DonerCard.test.tsx
  frontend/src/assets/icons/location.svg
  frontend/src/components/DonerCard.tsx
  frontend/src/helpers/openingHours.ts
Due: frontend-format, frontend-lint

fix: ts errors
  frontend/pnpm-lock.yaml
  frontend/src/components/ReviewItem.tsx
  frontend/src/components/badges/Badge.tsx
  frontend/src/components/reviews/ReviewItem.tsx
  frontend/src/components/reviews/StarRating.tsx
Due: frontend-format, frontend-lint

feat: add Datenschutz and Impressum pages with detailed legal information
  frontend/src/app/datenschutz/page.tsx
  frontend/src/app/impressum/page.tsx
  frontend/src/app/kontakt/page.tsx
Due: frontend-format, frontend-lint

feat: update opening hours format and enhance related tests
  api_mock/data/place_1.json
  api_mock/data/place_2.json
  api_mock/data/place_4.json
  api_mock/data/places_list.json
  frontend/__tests__/openingHours.test.ts
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/app/stores/detail/page.tsx
  frontend/src/components/DonerCard.tsx
  frontend/src/components/badge/Badge.tsx
  frontend/src/helpers/openingHours.ts
Due: frontend-format, frontend-lint

fix: ts errors
  frontend/src/app/(entdecken)/useExplore.ts
  frontend/src/components/ReviewItem.tsx
Due: frontend-format, frontend-lint

FIX: fix for ARM Mac
  backend/compose.yaml
Due: none

Refactor place data structure and API endpoints
  api_mock/data/place_1.json
  api_mock/data/place_10.json
  api_mock/data/place_2.json
  api_mock/data/place_3.json
  api_mock/data/place_4.json
  api_mock/data/place_5.json
  api_mock/data/place_6.json
  api_mock/data/place_7.json
  api_mock/data/place_8.json
  api_mock/data/place_9.json
  api_mock/data/places_list.json
  api_mock/server.js
  frontend/src/app/(entdecken)/[id]/page.tsx
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/helpers/api.ts
  frontend/src/helpers/routes.ts
  frontend/src/types/store.ts
Due: frontend-format, frontend-lint

fix: layout
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/app/(entdecken)/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/layout/Navbar.tsx
Due: frontend-format, frontend-lint

feat: Update opening hours format to use minutes since midnight in place data
  api_mock/data/place_3.json
  api_mock/data/place_4.json
  api_mock/data/place_5.json
  api_mock/data/places_list.json
  frontend/src/helpers/openingHours.ts
Due: frontend-format, frontend-lint

fix: test
  frontend/__tests__/ChipsFilterBar.test.tsx
Due: frontend-format, frontend-lint

fix: unused comps
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/reviews/ReviewItem.tsx
  frontend/src/components/reviews/StarRating.tsx
Due: frontend-format, frontend-lint

feat: Implement detailed store information page with badges and navigation enhancements
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/assets/icons/aistars.svg
  frontend/src/assets/icons/chevronleft.svg
  frontend/src/assets/icons/chevronright.svg
  frontend/src/assets/icons/chevronup.svg
  frontend/src/components/DonerCard.tsx
  frontend/src/components/layout/Navbar.tsx
  frontend/src/helpers/storeBadges.ts
Due: frontend-format, frontend-lint

create star rating and review component
  frontend/package.json
  frontend/src/components/reviews/ReviewItem.tsx
  frontend/src/components/reviews/StarRating.tsx
Due: frontend-format, frontend-lint

refactor: simplify error handling by removing unused error prop from ErrorPage
  frontend/src/app/error.tsx
  frontend/src/app/global-error.tsx
Due: frontend-format, frontend-lint

fix: replace logo image with SVG component in Navbar
  frontend/public/logo/logo.svg
  frontend/src/assets/logo/logo.svg
  frontend/src/components/layout/Navbar.tsx
Due: none

fix: mobile version of donercard
  frontend/src/components/DonerCard.tsx
Due: frontend-format, frontend-lint

Path conditions:
  backend-format: any of: **/*.{ts,js,json,md} and ^backend/functions/ and not (node_modules/|dist/|build/|coverage/)
  backend-lint: any of: **/*.{ts,js} and ^backend/functions/ and not (node_modules/|dist/|build/|coverage/)
  frontend-format: any of: **/*.{ts,tsx,js,jsx,json,md,css} and ^frontend/ and not (node_modules/|.next/|out/|build/|coverage/)
  frontend-lint: any of: **/*.{ts,tsx,js,jsx} and ^frontend/ and not (node_modules/|.next/|out/|build/|coverage/)
