Repository DonerGuideStuttgart/DonerGuide: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, frontend-format, frontend-lint

backend-format:
  priority: 1
  run: npm exec -- prettier --write --cache {staged_files}
  stage_fixed: true
  fail_text: 'Prettier formatting failed in backend!
  
    Run: cd backend/functions && npm run format
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

backend-lint:
  priority: 2
  run: npm exec -- eslint --fix --cache {staged_files}
  stage_fixed: true
  fail_text: 'ESLint found errors in backend!
  
    Run: cd backend/functions && npm run lint
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

frontend-format:
  priority: 1
  run: pnpm exec prettier --write --cache {staged_files}
  stage_fixed: true
  fail_text: 'Prettier formatting failed in frontend!
  
    Run: cd frontend && pnpm run format
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

frontend-lint:
  priority: 2
  run: pnpm exec eslint --fix --cache {staged_files}
  stage_fixed: true
  fail_text: 'ESLint found errors in frontend!
  
    Run: cd frontend && pnpm run lint
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

feat: add mobile view mode toggle and integrate StoreMap component in Explore
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/components/Map/StoreMap.tsx
  package.json
Due: frontend-format, frontend-lint

feat: customize StoreMarkerPopup styles and update Navbar dropdown margin
  frontend/src/app/globals.css
  frontend/src/components/Map/StoreMarkerPopup.tsx
  frontend/src/components/layout/Navbar.tsx
Due: frontend-format, frontend-lint

fix: remove unused imports
  frontend/src/components/Map/StoreMap.tsx
Due: frontend-format, frontend-lint

feat: add test for mapComponents and mock components for Map and StoreMarkerPopup
  frontend/__mocks__/css.js
  frontend/__mocks__/react-map-gl.tsx
  frontend/__tests__/StoreMap.test.tsx
  frontend/__tests__/StoreMarkerPopup.test.tsx
  frontend/jest.config.ts
Due: frontend-format, frontend-lint

fix: change error message
  frontend/src/components/Map/StoreMap.tsx
Due: frontend-format, frontend-lint

fix: update package-lock and pnpm-lock
  frontend/pnpm-lock.yaml
  package-lock.json
Due: none

fix: update package-lock
  frontend/package-lock.json
Due: frontend-format

fix: add github mapbox secret
  .github/workflows/frontend.yaml
Due: none

feat: Refactor Azure service connections to use endpoint/key/account name and Azure AD authentication instead of connection strings.
  backend/compose.yaml
  backend/functions/image-classifier/package.json
  backend/functions/image-classifier/src/functions/imageClassifier.ts
  backend/functions/image-classifier/src/services/BlobService.ts
  backend/functions/llm-analyzer/package.json
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
  backend/functions/package-lock.json
  backend/functions/place-search/package.json
  backend/functions/place-search/src/functions/placeSearch.ts
  infrastructure/functions.tf
Due: backend-format, backend-lint

refactor: Split CosmosDB and Storage connection strings into separate endpoint, key, and account name variables in env examples.
  backend/functions/image-classifier/.env.example
  backend/functions/llm-analyzer/.env.example
  backend/functions/place-search/.env.example
Due: none

fix endpoints and vars
  backend/compose.yaml
  backend/functions/image-classifier/.env.example
Due: none

feat: Disable FTP basic authentication and public network access for Azure Function Apps.
  backend/functions/image-classifier/.env.example
  backend/functions/llm-analyzer/.env.example
  backend/functions/place-search/.env.example
  infrastructure/functions.tf
Due: none

feat: grant place search function access to Key Vault secrets
  infrastructure/functions.tf
Due: none

feat: Add place search configuration settings to the Azure Function App.
  infrastructure/functions.tf
Due: none

refactor: use string interpolation for Google Places API key secret URI
  infrastructure/functions.tf
Due: none

feat: refactor image classification to process single photos using new Azure Vision SDK
  backend/functions/image-classifier/.env.example
  backend/functions/image-classifier/package.json
  backend/functions/image-classifier/src/functions/__tests__/imageClassifier.test.ts
  backend/functions/image-classifier/src/services/VisionService.ts
  backend/functions/image-classifier/src/services/__tests__/VisionService.test.ts
  backend/functions/package-lock.json
  infrastructure/functions.tf
Due: backend-format, backend-lint

linting
  backend/functions/image-classifier/src/functions/__tests__/imageClassifier.test.ts
  backend/functions/image-classifier/src/services/VisionService.ts
Due: backend-format, backend-lint

tf refrences
  infrastructure/functions.tf
Due: none

feat: enhance llm-analyzer with Azure AD token support and add role assignment for OpenAI access
  backend/functions/llm-analyzer/.env.example
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
  infrastructure/functions.tf
Due: backend-format, backend-lint

configure llmAnalyzer deployment
  infrastructure/functions.tf
Due: none

function deploy action
  .github/workflows/backend
Due: none

rename workflow
  .github/workflows/backend.yml
Due: none

add function app name outputs
  .github/workflows/backend.yml
  infrastructure/outputs.tf
Due: none

fix ending
  .github/workflows/backend.yml
Due: none

add pplication insights
  infrastructure/application_insights.tf
  infrastructure/functions.tf
Due: none

fix typo
  infrastructure/application_insights.tf
Due: none

use module bundler
  .github/workflows/backend.yml
  backend/functions/image-classifier/package.json
  backend/functions/llm-analyzer/package.json
  backend/functions/package-lock.json
  backend/functions/place-search/package.json
Due: backend-format

try to fix bundeling
  backend/functions/image-classifier/package.json
  backend/functions/llm-analyzer/package.json
  backend/functions/place-search/package.json
Due: backend-format

update cors
  infrastructure/functions.tf
Due: none

create missing db container
  infrastructure/databse.tf
Due: none

remove unused index
  backend/functions/place-search/src/functions/placeSearch.ts
  infrastructure/databse.tf
Due: backend-format, backend-lint

linting
  backend/functions/place-search/src/functions/placeSearch.ts
Due: backend-format, backend-lint

fix servicebus namespace fqdn
  infrastructure/functions.tf
Due: none

deploy functions on infra update
  .github/workflows/backend.yml
  .github/workflows/infrastructure.yml
Due: none

add secrets
  .github/workflows/infrastructure.yml
Due: none

fix order
  .github/workflows/infrastructure.yml
Due: none

fix queue name
  backend/functions/place-search/src/functions/placeSearch.ts
Due: backend-format, backend-lint

fix permissions
  infrastructure/databse.tf
  infrastructure/functions.tf
Due: none

fix
  infrastructure/databse.tf
  infrastructure/functions.tf
Due: none

fix
  backend/functions/image-classifier/src/db/sproc/patchPhoto.js
  backend/functions/image-classifier/src/functions/imageClassifier.ts
  infrastructure/databse.tf
  infrastructure/functions.tf
Due: backend-format, backend-lint

Path conditions:
  backend-format: any of: **/*.{ts,js,json,md} and ^backend/functions/ and not (node_modules/|dist/|build/|coverage/)
  backend-lint: any of: **/*.{ts,js} and ^backend/functions/ and not (node_modules/|dist/|build/|coverage/)
  frontend-format: any of: **/*.{ts,tsx,js,jsx,json,md,css} and ^frontend/ and not (node_modules/|.next/|out/|build/|coverage/)
  frontend-lint: any of: **/*.{ts,tsx,js,jsx} and ^frontend/ and not (node_modules/|.next/|out/|build/|coverage/)
