Repository DonerGuideStuttgart/DonerGuide: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, frontend-format, frontend-lint

backend-format:
  priority: 1
  run: npm exec -- prettier --write --cache {staged_files}
  stage_fixed: true
  fail_text: 'Prettier formatting failed in backend!
  
    Run: cd backend/functions && npm run format
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

backend-lint:
  priority: 2
  run: npm exec -- eslint --fix --cache {staged_files}
  stage_fixed: true
  fail_text: 'ESLint found errors in backend!
  
    Run: cd backend/functions && npm run lint
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

frontend-format:
  priority: 1
  run: pnpm exec prettier --write --cache {staged_files}
  stage_fixed: true
  fail_text: 'Prettier formatting failed in frontend!
  
    Run: cd frontend && pnpm run format
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

frontend-lint:
  priority: 2
  run: pnpm exec eslint --fix --cache {staged_files}
  stage_fixed: true
  fail_text: 'ESLint found errors in frontend!
  
    Run: cd frontend && pnpm run lint
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

feat: add Not Found page and update icon styles
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/app/not-found.tsx
  frontend/src/assets/icons/filter.svg
  frontend/src/assets/icons/infocircle.svg
  frontend/src/components/DonerCard.tsx
Due: frontend-format, frontend-lint

fix: werid spacing
  frontend/src/components/badge/Badge.tsx
Due: frontend-format, frontend-lint

feat: add googlePlaceId to location data for multiple places and update links to use it
  api_mock/data/place_1.json
  api_mock/data/place_10.json
  api_mock/data/place_2.json
  api_mock/data/place_3.json
  api_mock/data/place_4.json
  api_mock/data/place_5.json
  api_mock/data/place_6.json
  api_mock/data/place_7.json
  api_mock/data/place_8.json
  api_mock/data/place_9.json
  frontend/src/app/(entdecken)/[slug]/page.tsx
  frontend/src/app/error.tsx
  frontend/src/app/not-found.tsx
  frontend/src/app/ueberuns/page.tsx
  frontend/src/components/DonerCard.tsx
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/layout/NavLinks.tsx
  frontend/src/components/layout/Navbar.tsx
  frontend/src/types/store.ts
Due: frontend-format, frontend-lint

fix: font sizes mobile
  frontend/src/app/datenschutz/page.tsx
  frontend/src/app/impressum/page.tsx
  frontend/src/app/kontakt/page.tsx
  frontend/src/app/ueberuns/page.tsx
Due: frontend-format, frontend-lint

fix: rename step for clarity in frontend deployment workflow
  .github/workflows/frontend.yaml
Due: none

chore: remove obsolete AI playground infrastructure configuration
  infrastructure/ai_playgound.tf
Due: none

feat: enhance frontend workflow to export API mock URL and update environment variable
  .github/workflows/frontend.yaml
  infrastructure/outputs.tf
Due: none

fix: update API mock URL output to use latest revision FQDN
  infrastructure/outputs.tf
Due: none

fix: update resource group references in API mock configuration
  infrastructure/api_mock.tf
Due: none

feat: add Azure Container App and environment configuration for API mock
  infrastructure/api_mock.tf
Due: none

fix: update traffic weight configuration for API mock container app
  infrastructure/api_mock.tf
Due: none

fix: update app build command in CI/CD workflow for frontend deployment
  .github/workflows/frontend.yaml
Due: none

fix: update build command for frontend deployment in CI/CD workflow
  .github/workflows/frontend.yaml
Due: none

feat: update Terraform workflow to simplify commands and add AI playground resources
  .github/workflows/infrastructure.yml
  infrastructure/ai_playgound.tf
Due: none

feat: add Dockerfile and GitHub Actions workflow for backend mock image build and push
  .github/workflows/build-mock.yml
  api_mock/Dockerfile
Due: none

feat: implement llm analyze
  .gitignore
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
  backend/functions/llm-analyzer/tsconfig.json
  package-lock.json
  package.json
Due: backend-format, backend-lint

fix: type error in llmAnalyzer
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
Due: backend-format, backend-lint

fix: refactor frontend build steps in CI/CD workflow
  .github/workflows/frontend.yaml
Due: none

fix: simplify frontend build command in CI/CD workflow
  .github/workflows/frontend.yaml
Due: none

feat: add static web app configuration for navigation fallback
  frontend/staticwebapp.config.json
Due: frontend-format

fix: remove location attribute from API mock container app resource
  infrastructure/api_mock.tf
Due: none

fix: update build commands for frontend deployment in CI/CD workflow
  .github/workflows/frontend.yaml
Due: none

fix: correct output value for static web app API token
  infrastructure/outputs.tf
Due: none

fix: update app build command to ignore scripts during installation
  .github/workflows/frontend.yaml
Due: none

fix: update Docker build context path in backend mock image workflow
  .github/workflows/build-mock.yml
Due: none

fix: correct environment variable name for build command in CI/CD workflow
  .github/workflows/frontend.yaml
Due: none

feat: add Azure infrastructure for AI playground and outputs for static web app API token
  .github/workflows/frontend.yaml
  .github/workflows/infrastructure.yml
  frontend/package-lock.json
  infrastructure/ai.tf
  infrastructure/ai_playground.tf
  infrastructure/outputs.tf
  infrastructure/web.tf
Due: frontend-format

feat: refactor image classification and place search for granular processing and atomic updates
  backend/functions/REFACTORING_PLAN.md
  backend/functions/image-classifier/host.json
  backend/functions/image-classifier/specs/tasks/refactor/TASK_3_CLASSIFIER_LOGIC.md
  backend/functions/image-classifier/src/db/sproc/patchPhoto.js
  backend/functions/image-classifier/src/functions/imageClassifier.ts
  backend/functions/place-search/specs/tasks/refactor/TASK_2_CRAWLER_UPDATE.md
  backend/functions/place-search/src/functions/placeSearch.ts
  backend/functions/shared/doner_types/index.ts
  backend/functions/shared/doner_types/specs/TASK_1_TYPES.md
  backend/functions/shared/doner_types/src/NewPhotosMessage.ts
  backend/functions/shared/doner_types/src/PhotoClassificationMessage.ts
Due: backend-format, backend-lint

refactor: improve error handling and code readability in image classification and place search functions
  backend/functions/image-classifier/src/db/sproc/patchPhoto.js
  backend/functions/image-classifier/src/functions/imageClassifier.ts
  backend/functions/place-search/src/functions/placeSearch.ts
Due: backend-format, backend-lint

refactor: change patchPhoto function export to default and update places playground container configuration
  backend/functions/image-classifier/src/db/sproc/patchPhoto.js
  infrastructure/databse.tf
Due: backend-format, backend-lint

feat: enhance photo classification update logic with client-side fallback and discard handling
  backend/functions/image-classifier/src/db/sproc/patchPhoto.js
  backend/functions/image-classifier/src/functions/imageClassifier.ts
Due: backend-format, backend-lint

feat: implement granular processing and idempotency in image classification with atomic DB updates
  backend/functions/REFACTORING_PLAN.md
  backend/functions/image-classifier/host.json
  backend/functions/image-classifier/specs/tasks/refactor/TASK_3_CLASSIFIER_LOGIC.md
  backend/functions/image-classifier/src/db/sproc/patchPhoto.js
  backend/functions/image-classifier/src/functions/imageClassifier.ts
  backend/functions/llm-analyzer/tsconfig.json
  backend/functions/place-search/specs/tasks/refactor/TASK_2_CRAWLER_UPDATE.md
  backend/functions/shared/doner_types/index.ts
  backend/functions/shared/doner_types/specs/TASK_1_TYPES.md
  backend/functions/shared/doner_types/src/NewPhotosMessage.ts
Due: backend-format, backend-lint

feat: update llm-analyzer configuration and environment variables for improved service integration
  backend/compose.yaml
  backend/functions/llm-analyzer/.env.example
  backend/functions/llm-analyzer/package.json
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
  backend/functions/package-lock.json
  backend/localdev/ServiceBus_Emulator.Config.json
Due: backend-format, backend-lint

feat: enhance image classification functionality with Azure Blob Storage integration and improved analysis logic
  backend/compose.yaml
  backend/functions/image-classifier/.env.example
  backend/functions/image-classifier/src/services/BlobService.ts
  backend/functions/llm-analyzer/.env.example
  backend/functions/llm-analyzer/package.json
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
  backend/functions/llm-analyzer/src/helper/analyzeImage.ts
  backend/functions/llm-analyzer/src/helper/getImages.ts
  backend/functions/llm-analyzer/src/helper/prompts.ts
  backend/functions/package-lock.json
  backend/functions/shared/doner_types/package-lock.json
  backend/functions/shared/doner_types/package.json
  backend/functions/shared/doner_types/src/StoreAnalysis.ts
Due: backend-format, backend-lint

linting
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
  backend/functions/llm-analyzer/src/helper/analyzeImage.ts
  backend/functions/llm-analyzer/src/helper/getImages.ts
  backend/functions/shared/doner_types/src/StoreAnalysis.ts
Due: backend-format, backend-lint

fix broken file
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
  backend/functions/llm-analyzer/tsconfig.json
Due: backend-format, backend-lint

format
  backend/functions/llm-analyzer/src/helper/prompts.ts
Due: backend-format, backend-lint

feat: add StoreMap component with Mapbox integration
  frontend/package.json
  frontend/src/components/Map/StoreMap.tsx
Due: frontend-format, frontend-lint

feat: add StoreMarkerPopup component for displaying store details on the map
  frontend/src/components/Map/StoreMarkerPopup.tsx
Due: frontend-format, frontend-lint

feat: enhance Mapbox styles with DaisyUI theme integration
  frontend/src/app/globals.css
Due: frontend-format

Path conditions:
  backend-format: any of: **/*.{ts,js,json,md} and ^backend/functions/ and not (node_modules/|dist/|build/|coverage/)
  backend-lint: any of: **/*.{ts,js} and ^backend/functions/ and not (node_modules/|dist/|build/|coverage/)
  frontend-format: any of: **/*.{ts,tsx,js,jsx,json,md,css} and ^frontend/ and not (node_modules/|.next/|out/|build/|coverage/)
  frontend-lint: any of: **/*.{ts,tsx,js,jsx} and ^frontend/ and not (node_modules/|.next/|out/|build/|coverage/)
