Repository DonerGuideStuttgart/DonerGuide: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, frontend-format, frontend-lint

backend-format:
  priority: 1
  run: npm exec -- prettier --write --cache {staged_files}
  stage_fixed: true
  fail_text: 'Prettier formatting failed in backend!
  
    Run: cd backend/functions && npm run format
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

backend-lint:
  priority: 2
  run: npm exec -- eslint --fix --cache {staged_files}
  stage_fixed: true
  fail_text: 'ESLint found errors in backend!
  
    Run: cd backend/functions && npm run lint
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

frontend-format:
  priority: 1
  run: pnpm exec prettier --write --cache {staged_files}
  stage_fixed: true
  fail_text: 'Prettier formatting failed in frontend!
  
    Run: cd frontend && pnpm run format
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

frontend-lint:
  priority: 2
  run: pnpm exec eslint --fix --cache {staged_files}
  stage_fixed: true
  fail_text: 'ESLint found errors in frontend!
  
    Run: cd frontend && pnpm run lint
  
    To skip: LEFTHOOK=0 git commit -m "message"
  
    '

fix: border- class
  frontend/src/components/layout/Navbar.tsx
Due: none

fix: border-size
  frontend/src/components/layout/Navbar.tsx
Due: none

refactor: correct fav icon
  frontend/src/app/favicon.ico
Due: none

fix: add baseurl option to tsconfig
  frontend/tsconfig.json
Due: frontend-format

fix: add type file for svgs
  frontend/src/types/svg.d.ts
Due: frontend-format, frontend-lint

feat: add seo stuff
  frontend/public/web-app-manifest-192x192.png
  frontend/public/web-app-manifest-512x512.png
  frontend/src/app/apple-icon.png
  frontend/src/app/icon0.svg
  frontend/src/app/icon1.png
  frontend/src/app/manifest.json
Due: frontend-format

feat: add correct seo titles and descriptions
  frontend/src/app/datenschutz/page.tsx
  frontend/src/app/impressum/page.tsx
  frontend/src/app/kontakt/page.tsx
  frontend/src/app/ueberuns/page.tsx
Due: frontend-format, frontend-lint

feat: update app name
  frontend/src/app/manifest.json
Due: frontend-format

refactor: cleanup unused icons
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
Due: none

fix: add ARM64 support for docker compose functions
  backend/compose.yaml
  backend/functions/.dockerignore
  backend/functions/Dockerfile.functions
  backend/functions/image-classifier/package.json
  backend/functions/llm-analyzer/package.json
  backend/functions/package-lock.json
  backend/functions/place-search/package.json
  backend/functions/shared/doner_types/package-lock.json
Due: backend-format

fix(backend): wrong queue name for llmAnalyzer
  backend/functions/llm-analyzer/src/functions/llmAnalyzer.ts
Due: backend-format, backend-lint

feat(backend): add CLAUDE.md
  backend/CLAUDE.md
Due: none

refactor: store query
  frontend/__tests__/buildStoreQuery.test.ts
  frontend/src/helpers/api.ts
Due: frontend-format, frontend-lint

feat: add filter type
  frontend/src/types/store.ts
Due: frontend-format, frontend-lint

feat: add skeleton loading
  frontend/src/components/DonerCard.tsx
Due: frontend-format, frontend-lint

fix: drawer bg
  frontend/src/components/Drawer.tsx
Due: frontend-format, frontend-lint

feat: add ClientOnly component for client-side rendering
  frontend/src/components/ClientOnly.tsx
Due: frontend-format, frontend-lint

feat: add NuqsAdapter to layout for enhanced functionality
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/layout.tsx
Due: frontend-format, frontend-lint

Refactor ExplorePage and FilterPanel components; introduce searchParams for improved filtering logic
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/app/(entdecken)/page.tsx
  frontend/src/app/(entdecken)/searchParams.ts
  frontend/src/components/ChipsFilterBar.tsx
  frontend/src/components/FilterPanel.tsx
Due: frontend-format, frontend-lint

feat: add unit tests for ChipsFilterBar, DonerCard, filter removal logic, and pagination
  frontend/__tests__/ChipsFilterBar.test.tsx
  frontend/__tests__/DonerCard.test.tsx
  frontend/__tests__/example.test.tsx
  frontend/__tests__/filterRemoval.test.ts
  frontend/__tests__/pagination.test.ts
Due: frontend-format, frontend-lint

feat: implement filtering and pagination logic with utility functions and hooks
  frontend/__tests__/exploreUtils.test.ts
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/app/(entdecken)/exploreUtils.ts
  frontend/src/app/(entdecken)/useExplore.ts
Due: frontend-format, frontend-lint

feat: enhance Explore and SortControl components with improved UI and functionality
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/assets/icons/chevrondown.svg
  frontend/src/components/SortControl.tsx
Due: frontend-format, frontend-lint

feat: add Sort component for improved sorting functionality in Explore page
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/components/Sort.tsx
Due: frontend-format, frontend-lint

feat: add filter reset
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/app/(entdecken)/useExplore.ts
Due: frontend-format, frontend-lint

fix: sort
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/app/(entdecken)/useExplore.ts
  frontend/src/components/Sort.tsx
Due: frontend-format, frontend-lint

fix: server misssing filter
  api_mock/server.js
Due: none

refactor: filter chips to look correct
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/assets/icons/aistars.svg
  frontend/src/assets/icons/close.svg
  frontend/src/assets/icons/starempty.svg
  frontend/src/assets/icons/starfilled.svg
  frontend/src/components/ChipsFilterBar.tsx
  frontend/src/components/FilterChips.tsx
Due: frontend-format, frontend-lint

fix: tests
  frontend/__mocks__/svg.tsx
  frontend/__tests__/ChipsFilterBar.test.tsx
  frontend/jest.config.ts
Due: frontend-format, frontend-lint

refactor: filterpanel
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/filters/CheckboxGroup.tsx
  frontend/src/components/filters/RangeSlider.tsx
  frontend/src/components/filters/SingleCheckboxGroup.tsx
  frontend/src/components/filters/filterHandlers.ts
  frontend/src/components/filters/filterUtils.ts
  frontend/src/components/filters/index.ts
Due: frontend-format, frontend-lint

feat: enhance UI components with improved styles and search functionality
  frontend/src/app/globals.css
  frontend/src/assets/icons/search.svg
  frontend/src/components/Drawer.tsx
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/Sort.tsx
  frontend/src/components/filters/CheckboxGroup.tsx
  frontend/src/components/filters/RangeSlider.tsx
  frontend/src/components/layout/NavLinks.tsx
Due: frontend-format, frontend-lint

feat: update filter panel to support multiple selections and improve UI components
  frontend/src/app/(entdecken)/exploreUtils.ts
  frontend/src/components/FilterChips.tsx
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/filters/RangeSlider.tsx
  frontend/src/components/filters/SingleCheckboxGroup.tsx
  frontend/src/components/filters/filterHandlers.ts
  frontend/src/components/filters/filterUtils.ts
  frontend/src/components/filters/index.ts
  frontend/src/types/store.ts
Due: frontend-format, frontend-lint

feat: add filter mobile button
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/assets/icons/filter.svg
  frontend/src/components/FilterChips.tsx
Due: frontend-format, frontend-lint

feat: enhance filter panel UI with mobile support and reset functionality
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/components/Drawer.tsx
  frontend/src/components/FilterPanel.tsx
  frontend/src/components/filters/RangeSlider.tsx
Due: frontend-format, frontend-lint

feat: enhance Explore component with pagination support and improve filter handling
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/app/(entdecken)/exploreUtils.ts
  frontend/src/app/(entdecken)/searchParams.ts
  frontend/src/app/(entdecken)/useExplore.ts
  frontend/src/app/layout.tsx
  frontend/src/components/ClientOnly.tsx
  frontend/src/components/FilterChips.tsx
  frontend/src/components/FilterPanel.tsx
Due: frontend-format, frontend-lint

feat: add empty state
  frontend/src/app/(entdecken)/Explore.tsx
Due: frontend-format, frontend-lint

fix: tests
  frontend/__tests__/ChipsFilterBar.test.tsx
  frontend/__tests__/buildStoreQuery.test.ts
Due: frontend-format, frontend-lint

fix: initial loading true
  frontend/src/app/(entdecken)/useExplore.ts
Due: frontend-format, frontend-lint

feat: enhance error handling UI in Explore component
  frontend/src/app/(entdecken)/Explore.tsx
Due: frontend-format, frontend-lint

feat: update DonerCardSkeleton styles for improved UI consistency
  frontend/src/components/DonerCard.tsx
Due: frontend-format, frontend-lint

feat: improve UI layout and spacing in Explore and DonerCard components
  frontend/src/app/(entdecken)/Explore.tsx
  frontend/src/components/DonerCard.tsx
Due: frontend-format, frontend-lint

Path conditions:
  backend-format: any of: **/*.{ts,js,json,md} and ^backend/functions/ and not (node_modules/|dist/|build/|coverage/)
  backend-lint: any of: **/*.{ts,js} and ^backend/functions/ and not (node_modules/|dist/|build/|coverage/)
  frontend-format: any of: **/*.{ts,tsx,js,jsx,json,md,css} and ^frontend/ and not (node_modules/|.next/|out/|build/|coverage/)
  frontend-lint: any of: **/*.{ts,tsx,js,jsx} and ^frontend/ and not (node_modules/|.next/|out/|build/|coverage/)
